# Data & Web Mining
## Python crash course
## Numpy and Pandas


#### Prof. Claudio Lucchese

## NumPy 

http://www.numpy.org/

**NumPy** stands for **Numerical Python**.

NumPy is a fundamental package for efficient scientific and numerical computing.

It provides:
- efficient methods for managing arrays and matrices, and operations on them
- several mathematical functions (variance, standard deviation, cumulative sum, ...)
- other: fitting a polynomial, finding the minimum of a function, Fast Fourier Transform, etc.

## Matrix representation and operations

In [1]:
# transform a nested list into a 2D matrix

import numpy as np
a = np.array( [ [1.,2.,3.],
                [4.,5.,6.] ] )

print ("Matrix a:")
print (a)

Matrix a:
[[1. 2. 3.]
 [4. 5. 6.]]

In [2]:
# Element-wise operations
b = a + 2
print ("Matrix b=a+2:")
print (b)
print()

c = a * 7
print ("Matrix c=a*7:")
print (c)
print()

d = b - a
print ("Matrix d=b-a:")
print (d)
print()

e = c / a
print ("Matrix e=c/a:")
print (e)

Matrix b=a+2:
[[3. 4. 5.]
 [6. 7. 8.]]

Matrix c=a*7:
[[ 7. 14. 21.]
 [28. 35. 42.]]

Matrix d=b-a:
[[2. 2. 2.]
 [2. 2. 2.]]

Matrix e=c/a:
[[7. 7. 7.]
 [7. 7. 7.]]

In [3]:
# Matrix transpose and multiplication
z = np.matmul(a, b.T)
print (z)

[[ 26.  44.]
 [ 62. 107.]]

## Mathematical functions

See https://docs.scipy.org/doc/numpy/reference/ufuncs.html for more information.

Let's test `sqrt()` (square root) and `maximum()` (element-wise maximum of two arrays).

In [4]:
a = np.array( [ [1.,2.,3.],[4.,5.,6.] ] )
b = np.array( [ [3.,3.,7.],[1.,1.,2.] ] )

print ("exp function")
print ( np.exp(a))
print ()

print ("element-wise maximum")
print ( np.maximum(a,b) )

exp function
[[  2.71828183   7.3890561   20.08553692]
 [ 54.59815003 148.4131591  403.42879349]]

element-wise maximum
[[3. 3. 7.]
 [4. 5. 6.]]

## Aggregation and Statistical methods

Typical `sum`, `mean`, `var`, are available ...

In case of matrices, it is possible to specify the **direction** of the operation.
 - see https://docs.scipy.org/doc/numpy/reference/generated/numpy.mean.html#numpy.mean

In [5]:
m = np.array( [ [1.,2.,3.],
                [4.,5.,6.] ] )

print (m)
print ()

print ("No direction/axis")
print ( np.mean(m) )
print ()

print ("mean over axis 0 (across rows)")
print ( np.mean(m, axis=0) )
print ()

print ("mean over axis 1 (across cols)")
print ( np.mean(m, axis=1) )
print ()

[[1. 2. 3.]
 [4. 5. 6.]]

No direction/axis
3.5

mean over axis 0 (across rows)
[2.5 3.5 4.5]

mean over axis 1 (across cols)
[2. 5.]

## Indexing and Views

It is possible to access elements of matrices/array in a similar way to Python lists.

Slices of a matrix are implemented as **views**, **not copies**, on the original data, sharing the same memory.

In [6]:
m = np.array( [ [1.,2.,3.],
                [4.,5.,6.] ] )

print (m[0,2])
print ()

print ("view/indexing")
view = m[:,1]  # all rows, column with index 1
print ( view )
print ()

print ("modified view and original data")
view[:] = 33
print ( view )
print ()
print ( m )    # also m is modified

3.0

view/indexing
[2. 5.]

modified view and original data
[33. 33.]

[[ 1. 33.  3.]
 [ 4. 33.  6.]]

## Sorting and Fancy Indexing

Similarly to python, the sort method can be used to sort an array or to get a sorted copy.

There is no `key` parameter.

See https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.sort.html.

In [7]:
data = np.array([1,-2,3,-4,5])

s = np.sort(data)
print ( "sorted copy    ", s )
print ( "original data  ", data)
print()

data.sort()
print ( "after data.sort()" )
print ( "original data  ", data)

sorted copy     [-4 -2  1  3  5]
original data   [ 1 -2  3 -4  5]

after data.sort()
original data   [-4 -2  1  3  5]

Also sorting may have a direction.

In [8]:
m = np.array( [ [3., 5.,2.],[6., 1.,5.] ] )

print (m)

print ("sort over axis 0 (across rows)")
print ( np.sort(m, axis=0) )
print()

print ("sort over axis 1 (across cols)")
print ( np.sort(m, axis=1) )
print()

print ("flatten and then sort")
print ( np.sort(m, axis=None) )

[[3. 5. 2.]
 [6. 1. 5.]]
sort over axis 0 (across rows)
[[3. 1. 2.]
 [6. 5. 5.]]

sort over axis 1 (across cols)
[[2. 3. 5.]
 [1. 5. 6.]]

flatten and then sort
[1. 2. 3. 5. 5. 6.]

A useful method is `argsort`, which returns the positions of the elements in sorted order, withouth modifying the original array.

The output of `argsort`, can be used in conjuction with fancy indexing.

Example: sort by income and print the corresponding name.

In [9]:
names = np.array([  'Mark', 'Joe', 'Will', 'Bob', 'Jane', 'Carol', 'Donald'])
salaries = np.array([2000,   1200,  3000,  2100,   1580,   1700,    900])

sorted_pos = np.argsort(salaries)
print ("sorted positions", sorted_pos)

print ( "salaries",  salaries[sorted_pos] ) # This is called fancy indexing!
print ( "ages",  names[sorted_pos] ) # This is called fancy indexing!

sorted positions [6 1 4 5 0 3 2]
salaries [ 900 1200 1580 1700 2000 2100 3000]
ages ['Donald' 'Joe' 'Jane' 'Carol' 'Mark' 'Bob' 'Will']

## Optimization

Find the root of a function given it first derivative.

See https://docs.scipy.org/doc/scipy/reference/optimize.html

In [10]:
from scipy import optimize
def f(x):
    return (x**3 - 1)  # only one real root at x = 1

def fprime(x):
    return 3*x**2

sol = optimize.root_scalar( f,                # function
                            x0=0.2,           # initial guess
                            fprime=fprime,    # first derivative
                            method='newton')  # optimization method

print ("The root of the function is:", sol.root)

The root of the function is: 1.0

# More Numpy ?

NumPy deserves your interest, especially for implementing numerical algorithms, matrix-based operations, and to exploit its great algorithms (see also scipy).

From a data perspective, it provides a low level access. We will see the Pandas library, which is more data-oriented and it shares several commonalities with NumPy.

## Pandas: Python Data Analysis Library

See: https://pandas.pydata.org/

Pandas is an open source providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

## Let's read a dataset with one line of code!

We can read an excel file!

Data available at http://tennis-data.co.uk/alldata.php.

See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

Check also the `sheet_name` parameter.

In [11]:
import pandas as pd

dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'

df = pd.read_excel(dataset_file) 
df.head(5) # see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,...,0.0,Completed,1.36,3.00,1.36,3.37,1.42,3.60,1.35,3.18
1,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
2,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
3,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
4,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47

In [12]:
print (type(df))
# see https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

<class 'pandas.core.frame.DataFrame'>

## Dataframe

- **DataFrame** is a 2-dimensional table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

See: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

**Features of DataFrame:**
- Mutable
- Potentially columns are of different types
- Labeled axes (rows and columns)
- Can Perform Arithmetic operations on rows and columns

A DataFrame can be seen as a dictionary of columns (indeed, pandas Series), all sharing the same index.

We can ask the number of rows and columns.
We can access index and columns labels with attributes `index`and `column`.

In [13]:
print("df.shape:", df.shape)
print("df.index:", df.index)
print("df.columns:", df.columns)

df.shape: (2610, 36)
df.index: RangeIndex(start=0, stop=2610, step=1)
df.columns: Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts',
       'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets',
       'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL', 'MaxW', 'MaxL',
       'AvgW', 'AvgL'],
      dtype='object')

## Question: What is the number of matches?

In [14]:
import pandas as pd

dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'
df = pd.read_excel(dataset_file) 

print ("Dataframe shape is:", df.shape)
num_matches, num_columns = df.shape
print ("The number of matches is:", num_matches)

Dataframe shape is: (2610, 36)
The number of matches is: 2610

### Names

Both index and columns have an attribute `name` to specify their names.

In [15]:
df.index.name   = "Match ID"
df.columns.name = "Features"

df.head()

Features,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
Match ID,,,,,,,,,,,,,,,,,,,,,
0,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,...,0.0,Completed,1.36,3.00,1.36,3.37,1.42,3.60,1.35,3.18
1,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
2,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
3,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
4,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47

## Statistical summary

We can get a statistical summary for numerical columns.

In [16]:
df.describe()

Features,ATP,Best of,WRank,LRank,WPts,LPts,W1,L1,W2,L2,...,Wsets,Lsets,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
count,2610.000000,2610.000000,2606.000000,2597.000000,2607.000000,2597.000000,2589.000000,2589.000000,2576.000000,2576.000000,...,2589.000000,2589.000000,2597.000000,2597.000000,2599.000000,2599.000000,2609.000000,2609.000000,2609.000000,2609.000000
mean,33.218774,3.388506,57.129317,77.825568,1782.094745,1156.386985,5.826574,4.202008,5.834239,4.036879,...,2.167246,0.431054,1.844926,3.159365,1.933342,3.474467,1.998605,3.678862,1.867348,3.139747
std,18.226778,0.791400,57.173452,80.276616,2055.165260,1194.664111,1.201032,1.822849,1.213551,1.830008,...,0.435385,0.565270,0.893305,3.067155,1.027109,3.597585,1.096063,4.221048,0.910771,2.668966
min,1.000000,3.000000,1.000000,1.000000,17.000000,2.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.002000,1.070000,1.005000,1.070000,1.010000,1.080000,1.010000,1.060000
25%,19.000000,3.000000,19.000000,34.000000,716.000000,598.000000,6.000000,3.000000,6.000000,3.000000,...,2.000000,0.000000,1.300000,1.660000,1.330000,1.760000,1.360000,1.820000,1.310000,1.720000
50%,32.000000,3.000000,45.000000,60.000000,1022.000000,875.000000,6.000000,4.000000,6.000000,4.000000,...,2.000000,0.000000,1.570000,2.300000,1.640000,2.440000,1.670000,2.510000,1.600000,2.340000
75%,50.000000,3.000000,76.000000,95.000000,1825.000000,1246.000000,6.000000,6.000000,6.000000,6.000000,...,2.000000,1.000000,2.100000,3.400000,2.185000,3.625000,2.270000,3.780000,2.120000,3.430000
max,66.000000,5.000000,503.000000,1491.000000,12415.000000,12355.000000,7.000000,7.000000,7.000000,7.000000,...,3.000000,2.000000,9.000000,41.000000,11.730000,37.800000,12.220000,67.000000,9.640000,28.490000

## Data Types

A specific data type is used to store and manage the information in the dataframe. This is important to understand which operations can be performed on the different columns.

Note that also the non-null values are reported. It is not uncommon to have missing values in our dataset.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2610 entries, 0 to 2609
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         2610 non-null   int64
 1   Location    2610 non-null   object
 2   Tournament  2610 non-null   object
 3   Date        2610 non-null   datetime64[ns]
 4   Series      2610 non-null   object
 5   Court       2610 non-null   object
 6   Surface     2610 non-null   object
 7   Round       2610 non-null   object
 8   Best of     2610 non-null   int64
 9   Winner      2610 non-null   object
 10  Loser       2610 non-null   object
 11  WRank       2606 non-null   float64
 12  LRank       2597 non-null   float64
 13  WPts        2607 non-null   float64
 14  LPts        2597 non-null   float64
 15  W1          2589 non-null   float64
 16  L1          2589 non-null   float64
 17  W2          2576 non-null   float64
 18  L2          2576 non-null   float64
 19  W3          1248 non-null   float64
 20  L3          1248 non-null   float64
 21  W4          265 non-null    float64
 22  L4          265 non-null    float64
 23  W5          96 non-null     float64
 24  L5          96 non-null     float64
 25  Wsets       2589 non-null   float64
 26  Lsets       2589 non-null   float64
 27  Comment     2610 non-null   object
 28  B365W       2597 non-null   float64
 29  B365L       2597 non-null   float64
 30  PSW         2599 non-null   float64
 31  PSL         2599 non-null   float64
 32  MaxW        2609 non-null   float64
 33  MaxL        2609 non-null   float64
 34  AvgW        2609 non-null   float64
 35  AvgL        2609 non-null   float64
dtypes: datetime64[ns](1), float64(24), int64(2), object(9)
memory usage: 734.2+ KB

## Column selection, addition, and deletion

See: https://pandas.pydata.org/pandas-docs/stable/indexing.html.

Pandas provides several (sometimes confusing) ways to access the columns of a data frame.

#### Example (Selection)
We can select a column by specifying its name. 

This operation gives us Pandas Series.

Note that the index is preserved.

In [18]:
a = df["Winner"] 

print("a:\n", a)
print("Type: ", type(a))
print()

# Equivalent to

a = df.Winner
print("a:\n", a)
print("Type: ", type(a))

a:
 Match ID
0         Dimitrov G.
1           Raonic M.
2       Kecmanovic M.
3          Millman J.
4         Uchiyama Y.
            ...
2605        Nadal R.
2606       Zverev A.
2607    Tsitsipas S.
2608        Thiem D.
2609    Tsitsipas S.
Name: Winner, Length: 2610, dtype: object
Type:  <class 'pandas.core.series.Series'>

a:
 Match ID
0         Dimitrov G.
1           Raonic M.
2       Kecmanovic M.
3          Millman J.
4         Uchiyama Y.
            ...
2605        Nadal R.
2606       Zverev A.
2607    Tsitsipas S.
2608        Thiem D.
2609    Tsitsipas S.
Name: Winner, Length: 2610, dtype: object
Type:  <class 'pandas.core.series.Series'>

You can also select multiple columns. In this case you need to use a list.

Note that the result is a dataframe.

In [19]:
wl = df[ ["Winner","Loser"] ] 

wl.head()

Features         Winner        Loser
Match ID
0           Dimitrov G.  Nishioka Y.
1             Raonic M.    Bedene A.
2         Kecmanovic M.     Mayer L.
3            Millman J.  Sandgren T.
4           Uchiyama Y.   Humbert U.

#### Example (Addition)
We can add a new column by passing a NumPy array (or a list, Pandas Series, and more) or a single number.

In case of a list/array, the length of the array must equal the number of rows (otherwise a ValueError exception is raised)!

In [20]:
print("df.shape:", df.shape)

         # note that len gives us the number of rows
df['meaning-less']   = np.ones( len(df) ) 
df['meaning-less-2'] = 2
df['meaning-less-3'] = df['B365W']*2

df.head()

df.shape: (2610, 36)

Features,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL,meaning-less,meaning-less-2,meaning-less-3
Match ID,,,,,,,,,,,,,,,,,,,,,
0,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,...,3.00,1.36,3.37,1.42,3.60,1.35,3.18,1.0,2,2.72
1,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,...,4.50,1.23,4.68,1.27,4.84,1.22,4.26,1.0,2,2.36
2,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,...,2.25,1.67,2.32,1.71,2.40,1.63,2.28,1.0,2,3.14
3,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,...,2.75,1.41,3.13,1.45,3.20,1.40,2.95,1.0,2,2.80
4,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,...,1.44,2.73,1.51,3.26,1.53,2.69,1.47,1.0,2,5.24

#### Example (Deletion)

Method `drop()` can be used to remove a column. We need to specify axis=1 (axis=0 are the rows).
The built-in `del` can also be used.

`inplace` argument (default is False)  is common in several Pandas' functions that modify the DataFrame. 
If True, it says that the function has to modify the DataFrame itself instead of returning a new one.

In [21]:
        # drop returns a new dataframe
df = df.drop('meaning-less', axis=1)   
        # unless inplace is set to True
df.drop('meaning-less-2', axis=1, inplace=True)
        # alternative
del df['meaning-less-3']

df.head()

Features,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
Match ID,,,,,,,,,,,,,,,,,,,,,
0,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,...,0.0,Completed,1.36,3.00,1.36,3.37,1.42,3.60,1.35,3.18
1,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
2,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
3,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
4,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47

## Index

Index does not need to be in integer, and it does not need to be unique.
We can choose one of the column to be the index with function `set_index()`. 

Note that the old index is lost!

In [22]:
df.set_index("Location", inplace=True) # Alternative to df = df.set_index("Location")

# Note the new name of the index
df.head()

Features,ATP,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
Location,,,,,,,,,,,,,,,,,,,,,
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,Nishioka Y.,...,0.0,Completed,1.36,3.00,1.36,3.37,1.42,3.60,1.35,3.18
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,Bedene A.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,Mayer L.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,Sandgren T.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,Humbert U.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47

## Question: List the tournament names

In [23]:
import pandas as pd

dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'
df = pd.read_excel(dataset_file) 

df['Tournament']

0       Brisbane International
1       Brisbane International
2       Brisbane International
3       Brisbane International
4       Brisbane International
                 ...
2605               Masters Cup
2606               Masters Cup
2607               Masters Cup
2608               Masters Cup
2609               Masters Cup
Name: Tournament, Length: 2610, dtype: object

In [24]:
set( df['Tournament'] )

{'ABN AMRO World Tennis Tournament',
 'ASB Classic',
 'Abierto Mexicano',
 'Abierto Mexicano Mifel',
 'Antalya Open',
 'Argentina Open',
 'Australian Open',
 'BB&T Atlanta Open',
 'BMW Open',
 'BNP Paribas Masters',
 'BNP Paribas Open',
 'Brasil Open',
 'Brisbane International',
 'Chengdu Open',
 'China Open',
 'Citi Open',
 'Cordoba Open',
 'Croatia Open',
 'Delray Beach Open',
 'Dubai Tennis Championships',
 'Eastbourne International',
 'Erste Bank Open',
 'European Open',
 'French Open',
 'Generali Open',
 'Geneva Open',
 'German Tennis Championships',
 'Grand Prix Hassan II',
 'Hall of Fame Championships',
 'Halle Open',
 'Hungarian Open',
 "Internazionali BNL d'Italia",
 'Kremlin Cup',
 'Lyon Open',
 'Maharashtra Open',
 'Masters Cup',
 'Mercedes Cup',
 'Millennium Estoril Open',
 'Monte Carlo Masters',
 'Mutua Madrid Open',
 'New York Open',
 'Open 13',
 'Open Banco Sabadell ',
 'Open Sud de France',
 'Open de Moselle',
 'Qatar Exxon Mobil Open',
 "Queen's Club Championships",
 'Rakuten Japan Open Tennis Championships',
 'Rio Open',
 'Rogers Masters',
 'Rosmalen Grass Court Championships',
 'Shanghai Masters',
 'SkiStar Swedish Open',
 'Sofia Open',
 'Sony Ericsson Open',
 'St. Petersburg Open',
 'Stockholm Open',
 'Suisse Open Gstaad',
 'Swiss Indoors',
 'Sydney International',
 "U.S. Men's Clay Court Championships",
 'US Open',
 'Western & Southern Financial Group Masters',
 'Wimbledon',
 'Winston-Salem Open at Wake Forest University',
 'Zhuhai Open'}

You can do this because a pandas Series is iterable, and a python set can be build from any iterable.

You can iterate in two ways.

In [25]:
for v in df['Tournament']:
    print (v)

Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Brisbane International
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Qatar Exxon Mobil Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
Maharashtra Open
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
ASB Classic
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Sydney International
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Australian Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Cordoba Open
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Open Sud de France
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Sofia Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
Argentina Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
New York Open
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
ABN AMRO World Tennis Tournament
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Delray Beach Open
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Open 13
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Rio Open
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Abierto Mexicano
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Dubai Tennis Championships
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
Brasil Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
BNP Paribas Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
Sony Ericsson Open
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
U.S. Men's Clay Court Championships
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Grand Prix Hassan II
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Monte Carlo Masters
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Open Banco Sabadell
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Hungarian Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
Millennium Estoril Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
BMW Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Mutua Madrid Open
Internazionali BNL d'Italia
Internazionali BNL d'Italia
Internazionali BNL d'Italia
Internazionali BNL d'Italia
Internazionali BNL d'Italia
Internazionali BNL d'Italia
Internazionali BNL d'Italia

In [26]:
# similar to enumerate
for index,v in df['Tournament'].iteritems():
    print (index, v)

0 Brisbane International
1 Brisbane International
2 Brisbane International
3 Brisbane International
4 Brisbane International
5 Brisbane International
6 Brisbane International
7 Brisbane International
8 Brisbane International
9 Brisbane International
10 Brisbane International
11 Brisbane International
12 Brisbane International
13 Brisbane International
14 Brisbane International
15 Brisbane International
16 Brisbane International
17 Brisbane International
18 Brisbane International
19 Brisbane International
20 Brisbane International
21 Brisbane International
22 Brisbane International
23 Brisbane International
24 Brisbane International
25 Brisbane International
26 Brisbane International
27 Qatar Exxon Mobil Open
28 Qatar Exxon Mobil Open
29 Qatar Exxon Mobil Open
30 Qatar Exxon Mobil Open
31 Qatar Exxon Mobil Open
32 Qatar Exxon Mobil Open
33 Qatar Exxon Mobil Open
34 Qatar Exxon Mobil Open
35 Qatar Exxon Mobil Open
36 Qatar Exxon Mobil Open
37 Qatar Exxon Mobil Open
38 Qatar Exxon Mobil Open
39 Qatar Exxon Mobil Open
40 Qatar Exxon Mobil Open
41 Qatar Exxon Mobil Open
42 Qatar Exxon Mobil Open
43 Qatar Exxon Mobil Open
44 Qatar Exxon Mobil Open
45 Qatar Exxon Mobil Open
46 Qatar Exxon Mobil Open
47 Qatar Exxon Mobil Open
48 Qatar Exxon Mobil Open
49 Qatar Exxon Mobil Open
50 Qatar Exxon Mobil Open
51 Qatar Exxon Mobil Open
52 Qatar Exxon Mobil Open
53 Qatar Exxon Mobil Open
54 Qatar Exxon Mobil Open
55 Qatar Exxon Mobil Open
56 Qatar Exxon Mobil Open
57 Qatar Exxon Mobil Open
58 Maharashtra Open
59 Maharashtra Open
60 Maharashtra Open
61 Maharashtra Open
62 Maharashtra Open
63 Maharashtra Open
64 Maharashtra Open
65 Maharashtra Open
66 Maharashtra Open
67 Maharashtra Open
68 Maharashtra Open
69 Maharashtra Open
70 Maharashtra Open
71 Maharashtra Open
72 Maharashtra Open
73 Maharashtra Open
74 Maharashtra Open
75 Maharashtra Open
76 Maharashtra Open
77 Maharashtra Open
78 Maharashtra Open
79 Maharashtra Open
80 Maharashtra Open
81 Maharashtra Open
82 Maharashtra Open
83 Maharashtra Open
84 Maharashtra Open
85 ASB Classic
86 ASB Classic
87 ASB Classic
88 ASB Classic
89 ASB Classic
90 ASB Classic
91 ASB Classic
92 ASB Classic
93 ASB Classic
94 ASB Classic
95 ASB Classic
96 ASB Classic
97 ASB Classic
98 ASB Classic
99 ASB Classic
100 ASB Classic
101 ASB Classic
102 ASB Classic
103 ASB Classic
104 ASB Classic
105 ASB Classic
106 ASB Classic
107 ASB Classic
108 ASB Classic
109 ASB Classic
110 ASB Classic
111 ASB Classic
112 Sydney International
113 Sydney International
114 Sydney International
115 Sydney International
116 Sydney International
117 Sydney International
118 Sydney International
119 Sydney International
120 Sydney International
121 Sydney International
122 Sydney International
123 Sydney International
124 Sydney International
125 Sydney International
126 Sydney International
127 Sydney International
128 Sydney International
129 Sydney International
130 Sydney International
131 Sydney International
132 Sydney International
133 Sydney International
134 Sydney International
135 Sydney International
136 Sydney International
137 Sydney International
138 Sydney International
139 Australian Open
140 Australian Open
141 Australian Open
142 Australian Open
143 Australian Open
144 Australian Open
145 Australian Open
146 Australian Open
147 Australian Open
148 Australian Open
149 Australian Open
150 Australian Open
151 Australian Open
152 Australian Open
153 Australian Open
154 Australian Open
155 Australian Open
156 Australian Open
157 Australian Open
158 Australian Open
159 Australian Open
160 Australian Open
161 Australian Open
162 Australian Open
163 Australian Open
164 Australian Open
165 Australian Open
166 Australian Open
167 Australian Open
168 Australian Open
169 Australian Open
170 Australian Open
171 Australian Open
172 Australian Open
173 Australian Open
174 Australian Open
175 Australian Open
176 Australian Open
177 Australian Open
178 Australian Open
179 Australian Open
180 Australian Open
181 Australian Open
182 Australian Open
183 Australian Open
184 Australian Open
185 Australian Open
186 Australian Open
187 Australian Open
188 Australian Open
189 Australian Open
190 Australian Open
191 Australian Open
192 Australian Open
193 Australian Open
194 Australian Open
195 Australian Open
196 Australian Open
197 Australian Open
198 Australian Open
199 Australian Open
200 Australian Open
201 Australian Open
202 Australian Open
203 Australian Open
204 Australian Open
205 Australian Open
206 Australian Open
207 Australian Open
208 Australian Open
209 Australian Open
210 Australian Open
211 Australian Open
212 Australian Open
213 Australian Open
214 Australian Open
215 Australian Open
216 Australian Open
217 Australian Open
218 Australian Open
219 Australian Open
220 Australian Open
221 Australian Open
222 Australian Open
223 Australian Open
224 Australian Open
225 Australian Open
226 Australian Open
227 Australian Open
228 Australian Open
229 Australian Open
230 Australian Open
231 Australian Open
232 Australian Open
233 Australian Open
234 Australian Open
235 Australian Open
236 Australian Open
237 Australian Open
238 Australian Open
239 Australian Open
240 Australian Open
241 Australian Open
242 Australian Open
243 Australian Open
244 Australian Open
245 Australian Open
246 Australian Open
247 Australian Open
248 Australian Open
249 Australian Open
250 Australian Open
251 Australian Open
252 Australian Open
253 Australian Open
254 Australian Open
255 Australian Open
256 Australian Open
257 Australian Open
258 Australian Open
259 Australian Open
260 Australian Open
261 Australian Open
262 Australian Open
263 Australian Open
264 Australian Open
265 Australian Open
266 Cordoba Open
267 Cordoba Open
268 Cordoba Open
269 Cordoba Open
270 Cordoba Open
271 Cordoba Open
272 Cordoba Open
273 Cordoba Open
274 Cordoba Open
275 Cordoba Open
276 Cordoba Open
277 Cordoba Open
278 Cordoba Open
279 Cordoba Open
280 Cordoba Open
281 Cordoba Open
282 Cordoba Open
283 Cordoba Open
284 Cordoba Open
285 Cordoba Open
286 Cordoba Open
287 Cordoba Open
288 Cordoba Open
289 Cordoba Open
290 Cordoba Open
291 Cordoba Open
292 Cordoba Open
293 Open Sud de France
294 Open Sud de France
295 Open Sud de France
296 Open Sud de France
297 Open Sud de France
298 Open Sud de France
299 Open Sud de France
300 Open Sud de France
301 Open Sud de France
302 Open Sud de France
303 Open Sud de France
304 Open Sud de France
305 Open Sud de France
306 Open Sud de France
307 Open Sud de France
308 Open Sud de France
309 Open Sud de France
310 Open Sud de France
311 Open Sud de France
312 Open Sud de France
313 Open Sud de France
314 Open Sud de France
315 Open Sud de France
316 Open Sud de France
317 Open Sud de France
318 Open Sud de France
319 Open Sud de France
320 Sofia Open
321 Sofia Open
322 Sofia Open
323 Sofia Open
324 Sofia Open
325 Sofia Open
326 Sofia Open
327 Sofia Open
328 Sofia Open
329 Sofia Open
330 Sofia Open
331 Sofia Open
332 Sofia Open
333 Sofia Open
334 Sofia Open
335 Sofia Open
336 Sofia Open
337 Sofia Open
338 Sofia Open
339 Sofia Open
340 Sofia Open
341 Sofia Open
342 Sofia Open
343 Sofia Open
344 Sofia Open
345 Sofia Open
346 Sofia Open
347 Argentina Open
348 Argentina Open
349 Argentina Open
350 Argentina Open
351 Argentina Open
352 Argentina Open
353 Argentina Open
354 Argentina Open
355 Argentina Open
356 Argentina Open
357 Argentina Open
358 Argentina Open
359 Argentina Open
360 Argentina Open
361 Argentina Open
362 Argentina Open
363 Argentina Open
364 Argentina Open
365 Argentina Open
366 Argentina Open
367 Argentina Open
368 Argentina Open
369 Argentina Open
370 Argentina Open
371 Argentina Open
372 Argentina Open
373 Argentina Open
374 New York Open
375 New York Open
376 New York Open
377 New York Open
378 New York Open
379 New York Open
380 New York Open
381 New York Open
382 New York Open
383 New York Open
384 New York Open
385 New York Open
386 New York Open
387 New York Open
388 New York Open
389 New York Open
390 New York Open
391 New York Open
392 New York Open
393 New York Open
394 New York Open
395 New York Open
396 New York Open
397 New York Open
398 New York Open
399 New York Open
400 New York Open
401 ABN AMRO World Tennis Tournament
402 ABN AMRO World Tennis Tournament
403 ABN AMRO World Tennis Tournament
404 ABN AMRO World Tennis Tournament
405 ABN AMRO World Tennis Tournament
406 ABN AMRO World Tennis Tournament
407 ABN AMRO World Tennis Tournament
408 ABN AMRO World Tennis Tournament
409 ABN AMRO World Tennis Tournament
410 ABN AMRO World Tennis Tournament
411 ABN AMRO World Tennis Tournament
412 ABN AMRO World Tennis Tournament
413 ABN AMRO World Tennis Tournament
414 ABN AMRO World Tennis Tournament
415 ABN AMRO World Tennis Tournament
416 ABN AMRO World Tennis Tournament
417 ABN AMRO World Tennis Tournament
418 ABN AMRO World Tennis Tournament
419 ABN AMRO World Tennis Tournament
420 ABN AMRO World Tennis Tournament
421 ABN AMRO World Tennis Tournament
422 ABN AMRO World Tennis Tournament
423 ABN AMRO World Tennis Tournament
424 ABN AMRO World Tennis Tournament
425 ABN AMRO World Tennis Tournament
426 ABN AMRO World Tennis Tournament
427 ABN AMRO World Tennis Tournament
428 ABN AMRO World Tennis Tournament
429 ABN AMRO World Tennis Tournament
430 ABN AMRO World Tennis Tournament
431 ABN AMRO World Tennis Tournament
432 Delray Beach Open
433 Delray Beach Open
434 Delray Beach Open
435 Delray Beach Open
436 Delray Beach Open
437 Delray Beach Open
438 Delray Beach Open
439 Delray Beach Open
440 Delray Beach Open
441 Delray Beach Open
442 Delray Beach Open
443 Delray Beach Open
444 Delray Beach Open
445 Delray Beach Open
446 Delray Beach Open
447 Delray Beach Open
448 Delray Beach Open
449 Delray Beach Open
450 Delray Beach Open
451 Delray Beach Open
452 Delray Beach Open
453 Delray Beach Open
454 Delray Beach Open
455 Delray Beach Open
456 Delray Beach Open
457 Delray Beach Open
458 Delray Beach Open
459 Delray Beach Open
460 Delray Beach Open
461 Delray Beach Open
462 Delray Beach Open
463 Open 13
464 Open 13
465 Open 13
466 Open 13
467 Open 13
468 Open 13
469 Open 13
470 Open 13
471 Open 13
472 Open 13
473 Open 13
474 Open 13
475 Open 13
476 Open 13
477 Open 13
478 Open 13
479 Open 13
480 Open 13
481 Open 13
482 Open 13
483 Open 13
484 Open 13
485 Open 13
486 Open 13
487 Open 13
488 Open 13
489 Open 13
490 Rio Open
491 Rio Open
492 Rio Open
493 Rio Open
494 Rio Open
495 Rio Open
496 Rio Open
497 Rio Open
498 Rio Open
499 Rio Open
500 Rio Open
501 Rio Open
502 Rio Open
503 Rio Open
504 Rio Open
505 Rio Open
506 Rio Open
507 Rio Open
508 Rio Open
509 Rio Open
510 Rio Open
511 Rio Open
512 Rio Open
513 Rio Open
514 Rio Open
515 Rio Open
516 Rio Open
517 Rio Open
518 Rio Open
519 Rio Open
520 Rio Open
521 Abierto Mexicano
522 Abierto Mexicano
523 Abierto Mexicano
524 Abierto Mexicano
525 Abierto Mexicano
526 Abierto Mexicano
527 Abierto Mexicano
528 Abierto Mexicano
529 Abierto Mexicano
530 Abierto Mexicano
531 Abierto Mexicano
532 Abierto Mexicano
533 Abierto Mexicano
534 Abierto Mexicano
535 Abierto Mexicano
536 Abierto Mexicano
537 Abierto Mexicano
538 Abierto Mexicano
539 Abierto Mexicano
540 Abierto Mexicano
541 Abierto Mexicano
542 Abierto Mexicano
543 Abierto Mexicano
544 Abierto Mexicano
545 Abierto Mexicano
546 Abierto Mexicano
547 Abierto Mexicano
548 Abierto Mexicano
549 Abierto Mexicano
550 Abierto Mexicano
551 Abierto Mexicano
552 Dubai Tennis Championships
553 Dubai Tennis Championships
554 Dubai Tennis Championships
555 Dubai Tennis Championships
556 Dubai Tennis Championships
557 Dubai Tennis Championships
558 Dubai Tennis Championships
559 Dubai Tennis Championships
560 Dubai Tennis Championships
561 Dubai Tennis Championships
562 Dubai Tennis Championships
563 Dubai Tennis Championships
564 Dubai Tennis Championships
565 Dubai Tennis Championships
566 Dubai Tennis Championships
567 Dubai Tennis Championships
568 Dubai Tennis Championships
569 Dubai Tennis Championships
570 Dubai Tennis Championships
571 Dubai Tennis Championships
572 Dubai Tennis Championships
573 Dubai Tennis Championships
574 Dubai Tennis Championships
575 Dubai Tennis Championships
576 Dubai Tennis Championships
577 Dubai Tennis Championships
578 Dubai Tennis Championships
579 Dubai Tennis Championships
580 Dubai Tennis Championships
581 Dubai Tennis Championships
582 Dubai Tennis Championships
583 Brasil Open
584 Brasil Open
585 Brasil Open
586 Brasil Open
587 Brasil Open
588 Brasil Open
589 Brasil Open
590 Brasil Open
591 Brasil Open
592 Brasil Open
593 Brasil Open
594 Brasil Open
595 Brasil Open
596 Brasil Open
597 Brasil Open
598 Brasil Open
599 Brasil Open
600 Brasil Open
601 Brasil Open
602 Brasil Open
603 Brasil Open
604 Brasil Open
605 Brasil Open
606 Brasil Open
607 Brasil Open
608 Brasil Open
609 Brasil Open
610 BNP Paribas Open
611 BNP Paribas Open
612 BNP Paribas Open
613 BNP Paribas Open
614 BNP Paribas Open
615 BNP Paribas Open
616 BNP Paribas Open
617 BNP Paribas Open
618 BNP Paribas Open
619 BNP Paribas Open
620 BNP Paribas Open
621 BNP Paribas Open
622 BNP Paribas Open
623 BNP Paribas Open
624 BNP Paribas Open
625 BNP Paribas Open
626 BNP Paribas Open
627 BNP Paribas Open
628 BNP Paribas Open
629 BNP Paribas Open
630 BNP Paribas Open
631 BNP Paribas Open
632 BNP Paribas Open
633 BNP Paribas Open
634 BNP Paribas Open
635 BNP Paribas Open
636 BNP Paribas Open
637 BNP Paribas Open
638 BNP Paribas Open
639 BNP Paribas Open
640 BNP Paribas Open
641 BNP Paribas Open
642 BNP Paribas Open
643 BNP Paribas Open
644 BNP Paribas Open
645 BNP Paribas Open
646 BNP Paribas Open
647 BNP Paribas Open
648 BNP Paribas Open
649 BNP Paribas Open
650 BNP Paribas Open
651 BNP Paribas Open
652 BNP Paribas Open
653 BNP Paribas Open
654 BNP Paribas Open
655 BNP Paribas Open
656 BNP Paribas Open
657 BNP Paribas Open
658 BNP Paribas Open
659 BNP Paribas Open
660 BNP Paribas Open
661 BNP Paribas Open
662 BNP Paribas Open
663 BNP Paribas Open
664 BNP Paribas Open
665 BNP Paribas Open
666 BNP Paribas Open
667 BNP Paribas Open
668 BNP Paribas Open
669 BNP Paribas Open
670 BNP Paribas Open
671 BNP Paribas Open
672 BNP Paribas Open
673 BNP Paribas Open
674 BNP Paribas Open
675 BNP Paribas Open
676 BNP Paribas Open
677 BNP Paribas Open
678 BNP Paribas Open
679 BNP Paribas Open
680 BNP Paribas Open
681 BNP Paribas Open
682 BNP Paribas Open
683 BNP Paribas Open
684 BNP Paribas Open
685 BNP Paribas Open
686 BNP Paribas Open
687 BNP Paribas Open
688 BNP Paribas Open
689 BNP Paribas Open
690 BNP Paribas Open
691 BNP Paribas Open
692 BNP Paribas Open
693 BNP Paribas Open
694 BNP Paribas Open
695 BNP Paribas Open
696 BNP Paribas Open
697 BNP Paribas Open
698 BNP Paribas Open
699 BNP Paribas Open
700 BNP Paribas Open
701 BNP Paribas Open
702 BNP Paribas Open
703 BNP Paribas Open
704 BNP Paribas Open
705 Sony Ericsson Open
706 Sony Ericsson Open
707 Sony Ericsson Open
708 Sony Ericsson Open
709 Sony Ericsson Open
710 Sony Ericsson Open
711 Sony Ericsson Open
712 Sony Ericsson Open
713 Sony Ericsson Open
714 Sony Ericsson Open
715 Sony Ericsson Open
716 Sony Ericsson Open
717 Sony Ericsson Open
718 Sony Ericsson Open
719 Sony Ericsson Open
720 Sony Ericsson Open
721 Sony Ericsson Open
722 Sony Ericsson Open
723 Sony Ericsson Open
724 Sony Ericsson Open
725 Sony Ericsson Open
726 Sony Ericsson Open
727 Sony Ericsson Open
728 Sony Ericsson Open
729 Sony Ericsson Open
730 Sony Ericsson Open
731 Sony Ericsson Open
732 Sony Ericsson Open
733 Sony Ericsson Open
734 Sony Ericsson Open
735 Sony Ericsson Open
736 Sony Ericsson Open
737 Sony Ericsson Open
738 Sony Ericsson Open
739 Sony Ericsson Open
740 Sony Ericsson Open
741 Sony Ericsson Open
742 Sony Ericsson Open
743 Sony Ericsson Open
744 Sony Ericsson Open
745 Sony Ericsson Open
746 Sony Ericsson Open
747 Sony Ericsson Open
748 Sony Ericsson Open
749 Sony Ericsson Open
750 Sony Ericsson Open
751 Sony Ericsson Open
752 Sony Ericsson Open
753 Sony Ericsson Open
754 Sony Ericsson Open
755 Sony Ericsson Open
756 Sony Ericsson Open
757 Sony Ericsson Open
758 Sony Ericsson Open
759 Sony Ericsson Open
760 Sony Ericsson Open
761 Sony Ericsson Open
762 Sony Ericsson Open
763 Sony Ericsson Open
764 Sony Ericsson Open
765 Sony Ericsson Open
766 Sony Ericsson Open
767 Sony Ericsson Open
768 Sony Ericsson Open
769 Sony Ericsson Open
770 Sony Ericsson Open
771 Sony Ericsson Open
772 Sony Ericsson Open
773 Sony Ericsson Open
774 Sony Ericsson Open
775 Sony Ericsson Open
776 Sony Ericsson Open
777 Sony Ericsson Open
778 Sony Ericsson Open
779 Sony Ericsson Open
780 Sony Ericsson Open
781 Sony Ericsson Open
782 Sony Ericsson Open
783 Sony Ericsson Open
784 Sony Ericsson Open
785 Sony Ericsson Open
786 Sony Ericsson Open
787 Sony Ericsson Open
788 Sony Ericsson Open
789 Sony Ericsson Open
790 Sony Ericsson Open
791 Sony Ericsson Open
792 Sony Ericsson Open
793 Sony Ericsson Open
794 Sony Ericsson Open
795 Sony Ericsson Open
796 Sony Ericsson Open
797 Sony Ericsson Open
798 Sony Ericsson Open
799 Sony Ericsson Open
800 U.S. Men's Clay Court Championships
801 U.S. Men's Clay Court Championships
802 U.S. Men's Clay Court Championships
803 U.S. Men's Clay Court Championships
804 U.S. Men's Clay Court Championships
805 U.S. Men's Clay Court Championships
806 U.S. Men's Clay Court Championships
807 U.S. Men's Clay Court Championships
808 U.S. Men's Clay Court Championships
809 U.S. Men's Clay Court Championships
810 U.S. Men's Clay Court Championships
811 U.S. Men's Clay Court Championships
812 U.S. Men's Clay Court Championships
813 U.S. Men's Clay Court Championships
814 U.S. Men's Clay Court Championships
815 U.S. Men's Clay Court Championships
816 U.S. Men's Clay Court Championships
817 U.S. Men's Clay Court Championships
818 U.S. Men's Clay Court Championships
819 U.S. Men's Clay Court Championships
820 U.S. Men's Clay Court Championships
821 U.S. Men's Clay Court Championships
822 U.S. Men's Clay Court Championships
823 U.S. Men's Clay Court Championships
824 U.S. Men's Clay Court Championships
825 U.S. Men's Clay Court Championships
826 U.S. Men's Clay Court Championships
827 Grand Prix Hassan II
828 Grand Prix Hassan II
829 Grand Prix Hassan II
830 Grand Prix Hassan II
831 Grand Prix Hassan II
832 Grand Prix Hassan II
833 Grand Prix Hassan II
834 Grand Prix Hassan II
835 Grand Prix Hassan II
836 Grand Prix Hassan II
837 Grand Prix Hassan II
838 Grand Prix Hassan II
839 Grand Prix Hassan II
840 Grand Prix Hassan II
841 Grand Prix Hassan II
842 Grand Prix Hassan II
843 Grand Prix Hassan II
844 Grand Prix Hassan II
845 Grand Prix Hassan II
846 Grand Prix Hassan II
847 Grand Prix Hassan II
848 Grand Prix Hassan II
849 Grand Prix Hassan II
850 Grand Prix Hassan II
851 Grand Prix Hassan II
852 Grand Prix Hassan II
853 Grand Prix Hassan II
854 Grand Prix Hassan II
855 Grand Prix Hassan II
856 Grand Prix Hassan II
857 Grand Prix Hassan II
858 Monte Carlo Masters
859 Monte Carlo Masters
860 Monte Carlo Masters
861 Monte Carlo Masters
862 Monte Carlo Masters
863 Monte Carlo Masters
864 Monte Carlo Masters
865 Monte Carlo Masters
866 Monte Carlo Masters
867 Monte Carlo Masters
868 Monte Carlo Masters
869 Monte Carlo Masters
870 Monte Carlo Masters
871 Monte Carlo Masters
872 Monte Carlo Masters
873 Monte Carlo Masters
874 Monte Carlo Masters
875 Monte Carlo Masters
876 Monte Carlo Masters
877 Monte Carlo Masters
878 Monte Carlo Masters
879 Monte Carlo Masters
880 Monte Carlo Masters
881 Monte Carlo Masters
882 Monte Carlo Masters
883 Monte Carlo Masters
884 Monte Carlo Masters
885 Monte Carlo Masters
886 Monte Carlo Masters
887 Monte Carlo Masters
888 Monte Carlo Masters
889 Monte Carlo Masters
890 Monte Carlo Masters
891 Monte Carlo Masters
892 Monte Carlo Masters
893 Monte Carlo Masters
894 Monte Carlo Masters
895 Monte Carlo Masters
896 Monte Carlo Masters
897 Monte Carlo Masters
898 Monte Carlo Masters
899 Monte Carlo Masters
900 Monte Carlo Masters
901 Monte Carlo Masters
902 Monte Carlo Masters
903 Monte Carlo Masters
904 Monte Carlo Masters
905 Monte Carlo Masters
906 Monte Carlo Masters
907 Monte Carlo Masters

1513 Wimbledon
1514 Wimbledon
1515 Wimbledon
1516 Wimbledon
1517 Wimbledon
1518 Wimbledon
1519 Wimbledon
1520 Wimbledon
1521 Wimbledon
1522 Wimbledon
1523 Wimbledon
1524 Wimbledon
1525 Wimbledon
1526 Wimbledon
1527 Wimbledon
1528 Wimbledon
1529 Wimbledon
1530 Wimbledon
1531 Wimbledon
1532 Wimbledon
1533 Wimbledon
1534 Wimbledon
1535 Wimbledon
1536 Wimbledon
1537 Wimbledon
1538 Wimbledon
1539 Wimbledon
1540 Wimbledon
1541 Wimbledon
1542 Wimbledon
1543 Wimbledon
1544 Wimbledon
1545 Wimbledon
1546 Wimbledon
1547 Wimbledon
1548 Wimbledon
1549 Wimbledon
1550 Wimbledon
1551 Wimbledon
1552 Wimbledon
1553 Wimbledon
1554 Wimbledon
1555 Wimbledon
1556 Wimbledon
1557 Wimbledon
1558 Wimbledon
1559 Wimbledon
1560 Wimbledon
1561 Wimbledon
1562 Wimbledon
1563 Wimbledon
1564 Wimbledon
1565 Wimbledon
1566 Wimbledon
1567 Wimbledon
1568 Wimbledon
1569 Wimbledon
1570 Wimbledon
1571 Wimbledon
1572 Wimbledon
1573 Wimbledon
1574 Wimbledon
1575 Wimbledon
1576 Wimbledon
1577 Wimbledon
1578 Wimbledon
1579 Wimbledon
1580 Wimbledon
1581 Wimbledon
1582 Wimbledon
1583 Wimbledon
1584 Wimbledon
1585 Wimbledon
1586 Wimbledon
1587 Wimbledon
1588 Wimbledon
1589 Wimbledon
1590 Wimbledon
1591 Wimbledon
1592 Wimbledon
1593 Wimbledon
1594 Wimbledon
1595 Wimbledon
1596 Wimbledon
1597 Wimbledon
1598 Wimbledon
1599 Wimbledon
1600 Wimbledon
1601 Wimbledon
1602 Wimbledon
1603 Wimbledon
1604 Wimbledon
1605 Wimbledon
1606 Wimbledon
1607 Wimbledon
1608 Wimbledon
1609 Wimbledon
1610 Wimbledon
1611 Wimbledon
1612 Wimbledon
1613 Wimbledon
1614 Wimbledon
1615 Wimbledon
1616 Wimbledon
1617 Wimbledon
1618 Wimbledon
1619 Wimbledon
1620 Wimbledon
1621 Wimbledon
1622 Wimbledon
1623 Wimbledon
1624 Wimbledon
1625 Wimbledon
1626 Wimbledon
1627 Wimbledon
1628 Wimbledon
1629 SkiStar Swedish Open
1630 SkiStar Swedish Open
1631 SkiStar Swedish Open
1632 SkiStar Swedish Open
1633 SkiStar Swedish Open
1634 SkiStar Swedish Open
1635 SkiStar Swedish Open
1636 SkiStar Swedish Open
1637 SkiStar Swedish Open
1638 SkiStar Swedish Open
1639 SkiStar Swedish Open
1640 SkiStar Swedish Open
1641 SkiStar Swedish Open
1642 SkiStar Swedish Open
1643 SkiStar Swedish Open
1644 SkiStar Swedish Open
1645 SkiStar Swedish Open
1646 SkiStar Swedish Open
1647 SkiStar Swedish Open
1648 SkiStar Swedish Open
1649 SkiStar Swedish Open
1650 SkiStar Swedish Open
1651 SkiStar Swedish Open
1652 SkiStar Swedish Open
1653 SkiStar Swedish Open
1654 SkiStar Swedish Open
1655 SkiStar Swedish Open
1656 Hall of Fame Championships
1657 Hall of Fame Championships
1658 Hall of Fame Championships
1659 Hall of Fame Championships
1660 Hall of Fame Championships
1661 Hall of Fame Championships
1662 Hall of Fame Championships
1663 Hall of Fame Championships
1664 Hall of Fame Championships
1665 Hall of Fame Championships
1666 Hall of Fame Championships
1667 Hall of Fame Championships
1668 Hall of Fame Championships
1669 Hall of Fame Championships
1670 Hall of Fame Championships
1671 Hall of Fame Championships
1672 Hall of Fame Championships
1673 Hall of Fame Championships
1674 Hall of Fame Championships
1675 Hall of Fame Championships
1676 Hall of Fame Championships
1677 Hall of Fame Championships
1678 Hall of Fame Championships
1679 Hall of Fame Championships
1680 Hall of Fame Championships
1681 Hall of Fame Championships
1682 Hall of Fame Championships
1683 Croatia Open
1684 Croatia Open
1685 Croatia Open
1686 Croatia Open
1687 Croatia Open
1688 Croatia Open
1689 Croatia Open
1690 Croatia Open
1691 Croatia Open
1692 Croatia Open
1693 Croatia Open
1694 Croatia Open
1695 Croatia Open
1696 Croatia Open
1697 Croatia Open
1698 Croatia Open
1699 Croatia Open
1700 Croatia Open
1701 Croatia Open
1702 Croatia Open
1703 Croatia Open
1704 Croatia Open
1705 Croatia Open
1706 Croatia Open
1707 Croatia Open
1708 Croatia Open
1709 Croatia Open
1710 BB&T Atlanta Open
1711 BB&T Atlanta Open
1712 BB&T Atlanta Open
1713 BB&T Atlanta Open
1714 BB&T Atlanta Open
1715 BB&T Atlanta Open
1716 BB&T Atlanta Open
1717 BB&T Atlanta Open
1718 BB&T Atlanta Open
1719 BB&T Atlanta Open
1720 BB&T Atlanta Open
1721 BB&T Atlanta Open
1722 BB&T Atlanta Open
1723 BB&T Atlanta Open
1724 BB&T Atlanta Open
1725 BB&T Atlanta Open
1726 BB&T Atlanta Open
1727 BB&T Atlanta Open
1728 BB&T Atlanta Open
1729 BB&T Atlanta Open
1730 BB&T Atlanta Open
1731 BB&T Atlanta Open
1732 BB&T Atlanta Open
1733 BB&T Atlanta Open
1734 BB&T Atlanta Open
1735 BB&T Atlanta Open
1736 BB&T Atlanta Open
1737 Suisse Open Gstaad
1738 Suisse Open Gstaad
1739 Suisse Open Gstaad
1740 Suisse Open Gstaad
1741 Suisse Open Gstaad
1742 Suisse Open Gstaad
1743 Suisse Open Gstaad
1744 Suisse Open Gstaad
1745 Suisse Open Gstaad
1746 Suisse Open Gstaad
1747 Suisse Open Gstaad
1748 Suisse Open Gstaad
1749 Suisse Open Gstaad
1750 Suisse Open Gstaad
1751 Suisse Open Gstaad
1752 Suisse Open Gstaad
1753 Suisse Open Gstaad
1754 Suisse Open Gstaad
1755 Suisse Open Gstaad
1756 Suisse Open Gstaad
1757 Suisse Open Gstaad
1758 Suisse Open Gstaad
1759 Suisse Open Gstaad
1760 Suisse Open Gstaad
1761 Suisse Open Gstaad
1762 Suisse Open Gstaad
1763 Suisse Open Gstaad
1764 German Tennis Championships
1765 German Tennis Championships
1766 German Tennis Championships
1767 German Tennis Championships
1768 German Tennis Championships
1769 German Tennis Championships
1770 German Tennis Championships
1771 German Tennis Championships
1772 German Tennis Championships
1773 German Tennis Championships
1774 German Tennis Championships
1775 German Tennis Championships
1776 German Tennis Championships
1777 German Tennis Championships
1778 German Tennis Championships
1779 German Tennis Championships
1780 German Tennis Championships
1781 German Tennis Championships
1782 German Tennis Championships
1783 German Tennis Championships
1784 German Tennis Championships
1785 German Tennis Championships
1786 German Tennis Championships
1787 German Tennis Championships
1788 German Tennis Championships
1789 German Tennis Championships
1790 German Tennis Championships
1791 German Tennis Championships
1792 German Tennis Championships
1793 German Tennis Championships
1794 German Tennis Championships
1795 Generali Open
1796 Generali Open
1797 Generali Open
1798 Generali Open
1799 Generali Open
1800 Generali Open
1801 Generali Open
1802 Generali Open
1803 Generali Open
1804 Generali Open
1805 Generali Open
1806 Generali Open
1807 Generali Open
1808 Generali Open
1809 Generali Open
1810 Generali Open
1811 Generali Open
1812 Generali Open
1813 Generali Open
1814 Generali Open
1815 Generali Open
1816 Generali Open
1817 Generali Open
1818 Generali Open
1819 Generali Open
1820 Generali Open
1821 Generali Open
1822 Abierto Mexicano Mifel
1823 Abierto Mexicano Mifel
1824 Abierto Mexicano Mifel
1825 Abierto Mexicano Mifel
1826 Abierto Mexicano Mifel
1827 Abierto Mexicano Mifel
1828 Abierto Mexicano Mifel
1829 Abierto Mexicano Mifel
1830 Abierto Mexicano Mifel
1831 Abierto Mexicano Mifel
1832 Abierto Mexicano Mifel
1833 Abierto Mexicano Mifel
1834 Abierto Mexicano Mifel
1835 Abierto Mexicano Mifel
1836 Abierto Mexicano Mifel
1837 Abierto Mexicano Mifel
1838 Abierto Mexicano Mifel
1839 Abierto Mexicano Mifel
1840 Abierto Mexicano Mifel
1841 Abierto Mexicano Mifel
1842 Abierto Mexicano Mifel
1843 Abierto Mexicano Mifel
1844 Abierto Mexicano Mifel
1845 Abierto Mexicano Mifel
1846 Abierto Mexicano Mifel
1847 Abierto Mexicano Mifel
1848 Abierto Mexicano Mifel
1849 Citi Open
1850 Citi Open
1851 Citi Open
1852 Citi Open
1853 Citi Open
1854 Citi Open
1855 Citi Open
1856 Citi Open
1857 Citi Open
1858 Citi Open
1859 Citi Open
1860 Citi Open
1861 Citi Open
1862 Citi Open
1863 Citi Open
1864 Citi Open
1865 Citi Open
1866 Citi Open
1867 Citi Open
1868 Citi Open
1869 Citi Open
1870 Citi Open
1871 Citi Open
1872 Citi Open
1873 Citi Open
1874 Citi Open
1875 Citi Open
1876 Citi Open
1877 Citi Open
1878 Citi Open
1879 Citi Open
1880 Citi Open
1881 Citi Open
1882 Citi Open
1883 Citi Open
1884 Citi Open
1885 Citi Open
1886 Citi Open
1887 Citi Open
1888 Citi Open
1889 Citi Open
1890 Citi Open
1891 Citi Open
1892 Citi Open
1893 Citi Open
1894 Citi Open
1895 Citi Open
1896 Rogers Masters
1897 Rogers Masters
1898 Rogers Masters
1899 Rogers Masters
1900 Rogers Masters
1901 Rogers Masters
1902 Rogers Masters
1903 Rogers Masters
1904 Rogers Masters
1905 Rogers Masters
1906 Rogers Masters
1907 Rogers Masters
1908 Rogers Masters
1909 Rogers Masters
1910 Rogers Masters
1911 Rogers Masters
1912 Rogers Masters
1913 Rogers Masters
1914 Rogers Masters
1915 Rogers Masters
1916 Rogers Masters
1917 Rogers Masters
1918 Rogers Masters
1919 Rogers Masters
1920 Rogers Masters
1921 Rogers Masters
1922 Rogers Masters
1923 Rogers Masters
1924 Rogers Masters
1925 Rogers Masters
1926 Rogers Masters
1927 Rogers Masters
1928 Rogers Masters
1929 Rogers Masters
1930 Rogers Masters
1931 Rogers Masters
1932 Rogers Masters
1933 Rogers Masters
1934 Rogers Masters
1935 Rogers Masters
1936 Rogers Masters
1937 Rogers Masters
1938 Rogers Masters
1939 Rogers Masters
1940 Rogers Masters
1941 Rogers Masters
1942 Rogers Masters
1943 Rogers Masters
1944 Rogers Masters
1945 Rogers Masters
1946 Rogers Masters
1947 Rogers Masters
1948 Rogers Masters
1949 Rogers Masters
1950 Rogers Masters
1951 Western & Southern Financial Group Masters
1952 Western & Southern Financial Group Masters
1953 Western & Southern Financial Group Masters
1954 Western & Southern Financial Group Masters
1955 Western & Southern Financial Group Masters
1956 Western & Southern Financial Group Masters
1957 Western & Southern Financial Group Masters
1958 Western & Southern Financial Group Masters
1959 Western & Southern Financial Group Masters
1960 Western & Southern Financial Group Masters
1961 Western & Southern Financial Group Masters
1962 Western & Southern Financial Group Masters
1963 Western & Southern Financial Group Masters
1964 Western & Southern Financial Group Masters
1965 Western & Southern Financial Group Masters
1966 Western & Southern Financial Group Masters
1967 Western & Southern Financial Group Masters
1968 Western & Southern Financial Group Masters
1969 Western & Southern Financial Group Masters
1970 Western & Southern Financial Group Masters
1971 Western & Southern Financial Group Masters
1972 Western & Southern Financial Group Masters
1973 Western & Southern Financial Group Masters
1974 Western & Southern Financial Group Masters
1975 Western & Southern Financial Group Masters
1976 Western & Southern Financial Group Masters
1977 Western & Southern Financial Group Masters
1978 Western & Southern Financial Group Masters
1979 Western & Southern Financial Group Masters
1980 Western & Southern Financial Group Masters
1981 Western & Southern Financial Group Masters
1982 Western & Southern Financial Group Masters
1983 Western & Southern Financial Group Masters
1984 Western & Southern Financial Group Masters
1985 Western & Southern Financial Group Masters
1986 Western & Southern Financial Group Masters
1987 Western & Southern Financial Group Masters
1988 Western & Southern Financial Group Masters
1989 Western & Southern Financial Group Masters
1990 Western & Southern Financial Group Masters
1991 Western & Southern Financial Group Masters
1992 Western & Southern Financial Group Masters
1993 Western & Southern Financial Group Masters
1994 Western & Southern Financial Group Masters
1995 Western & Southern Financial Group Masters
1996 Western & Southern Financial Group Masters
1997 Western & Southern Financial Group Masters
1998 Western & Southern Financial Group Masters
1999 Western & Southern Financial Group Masters
2000 Western & Southern Financial Group Masters
2001 Western & Southern Financial Group Masters
2002 Western & Southern Financial Group Masters
2003 Western & Southern Financial Group Masters
2004 Western & Southern Financial Group Masters
2005 Western & Southern Financial Group Masters
2006 Winston-Salem Open at Wake Forest University
2007 Winston-Salem Open at Wake Forest University
2008 Winston-Salem Open at Wake Forest University
2009 Winston-Salem Open at Wake Forest University
2010 Winston-Salem Open at Wake Forest University
2011 Winston-Salem Open at Wake Forest University
2012 Winston-Salem Open at Wake Forest University
2013 Winston-Salem Open at Wake Forest University
2014 Winston-Salem Open at Wake Forest University
2015 Winston-Salem Open at Wake Forest University
2016 Winston-Salem Open at Wake Forest University
2017 Winston-Salem Open at Wake Forest University
2018 Winston-Salem Open at Wake Forest University
2019 Winston-Salem Open at Wake Forest University
2020 Winston-Salem Open at Wake Forest University
2021 Winston-Salem Open at Wake Forest University
2022 Winston-Salem Open at Wake Forest University
2023 Winston-Salem Open at Wake Forest University
2024 Winston-Salem Open at Wake Forest University
2025 Winston-Salem Open at Wake Forest University
2026 Winston-Salem Open at Wake Forest University
2027 Winston-Salem Open at Wake Forest University
2028 Winston-Salem Open at Wake Forest University
2029 Winston-Salem Open at Wake Forest University
2030 Winston-Salem Open at Wake Forest University
2031 Winston-Salem Open at Wake Forest University
2032 Winston-Salem Open at Wake Forest University
2033 Winston-Salem Open at Wake Forest University
2034 Winston-Salem Open at Wake Forest University
2035 Winston-Salem Open at Wake Forest University
2036 Winston-Salem Open at Wake Forest University
2037 Winston-Salem Open at Wake Forest University
2038 Winston-Salem Open at Wake Forest University
2039 Winston-Salem Open at Wake Forest University
2040 Winston-Salem Open at Wake Forest University
2041 Winston-Salem Open at Wake Forest University
2042 Winston-Salem Open at Wake Forest University
2043 Winston-Salem Open at Wake Forest University
2044 Winston-Salem Open at Wake Forest University
2045 Winston-Salem Open at Wake Forest University
2046 Winston-Salem Open at Wake Forest University
2047 Winston-Salem Open at Wake Forest University
2048 Winston-Salem Open at Wake Forest University
2049 Winston-Salem Open at Wake Forest University
2050 Winston-Salem Open at Wake Forest University
2051 Winston-Salem Open at Wake Forest University
2052 Winston-Salem Open at Wake Forest University
2053 US Open
2054 US Open
2055 US Open
2056 US Open
2057 US Open
2058 US Open
2059 US Open
2060 US Open
2061 US Open
2062 US Open
2063 US Open
2064 US Open
2065 US Open
2066 US Open
2067 US Open
2068 US Open
2069 US Open
2070 US Open
2071 US Open
2072 US Open
2073 US Open
2074 US Open
2075 US Open
2076 US Open
2077 US Open
2078 US Open
2079 US Open
2080 US Open
2081 US Open
2082 US Open
2083 US Open
2084 US Open
2085 US Open
2086 US Open
2087 US Open
2088 US Open
2089 US Open
2090 US Open
2091 US Open
2092 US Open
2093 US Open
2094 US Open
2095 US Open
2096 US Open
2097 US Open
2098 US Open
2099 US Open
2100 US Open
2101 US Open
2102 US Open
2103 US Open
2104 US Open
2105 US Open
2106 US Open
2107 US Open
2108 US Open
2109 US Open
2110 US Open
2111 US Open
2112 US Open
2113 US Open
2114 US Open
2115 US Open
2116 US Open
2117 US Open
2118 US Open
2119 US Open
2120 US Open
2121 US Open
2122 US Open
2123 US Open
2124 US Open
2125 US Open
2126 US Open
2127 US Open
2128 US Open
2129 US Open
2130 US Open
2131 US Open
2132 US Open
2133 US Open
2134 US Open
2135 US Open
2136 US Open
2137 US Open
2138 US Open
2139 US Open
2140 US Open
2141 US Open
2142 US Open
2143 US Open
2144 US Open
2145 US Open
2146 US Open
2147 US Open
2148 US Open
2149 US Open
2150 US Open
2151 US Open
2152 US Open
2153 US Open
2154 US Open
2155 US Open
2156 US Open
2157 US Open
2158 US Open
2159 US Open
2160 US Open
2161 US Open
2162 US Open
2163 US Open
2164 US Open
2165 US Open
2166 US Open
2167 US Open
2168 US Open
2169 US Open
2170 US Open
2171 US Open
2172 US Open
2173 US Open
2174 US Open
2175 US Open
2176 US Open
2177 US Open
2178 US Open
2179 US Open
2180 Open de Moselle
2181 Open de Moselle
2182 Open de Moselle
2183 Open de Moselle
2184 Open de Moselle
2185 Open de Moselle
2186 Open de Moselle
2187 Open de Moselle
2188 Open de Moselle
2189 Open de Moselle
2190 Open de Moselle
2191 Open de Moselle
2192 Open de Moselle
2193 Open de Moselle
2194 Open de Moselle
2195 Open de Moselle
2196 Open de Moselle
2197 Open de Moselle
2198 Open de Moselle
2199 Open de Moselle
2200 Open de Moselle
2201 Open de Moselle
2202 Open de Moselle
2203 Open de Moselle
2204 Open de Moselle
2205 Open de Moselle
2206 Open de Moselle
2207 St. Petersburg Open
2208 St. Petersburg Open
2209 St. Petersburg Open
2210 St. Petersburg Open
2211 St. Petersburg Open
2212 St. Petersburg Open
2213 St. Petersburg Open
2214 St. Petersburg Open
2215 St. Petersburg Open
2216 St. Petersburg Open
2217 St. Petersburg Open
2218 St. Petersburg Open
2219 St. Petersburg Open
2220 St. Petersburg Open
2221 St. Petersburg Open
2222 St. Petersburg Open
2223 St. Petersburg Open
2224 St. Petersburg Open
2225 St. Petersburg Open
2226 St. Petersburg Open
2227 St. Petersburg Open
2228 St. Petersburg Open
2229 St. Petersburg Open
2230 St. Petersburg Open
2231 St. Petersburg Open
2232 St. Petersburg Open
2233 St. Petersburg Open
2234 Chengdu Open
2235 Chengdu Open
2236 Chengdu Open
2237 Chengdu Open
2238 Chengdu Open
2239 Chengdu Open
2240 Chengdu Open
2241 Chengdu Open
2242 Chengdu Open
2243 Chengdu Open
2244 Chengdu Open
2245 Chengdu Open
2246 Chengdu Open
2247 Chengdu Open
2248 Chengdu Open
2249 Chengdu Open
2250 Chengdu Open
2251 Chengdu Open
2252 Chengdu Open
2253 Chengdu Open
2254 Chengdu Open
2255 Chengdu Open
2256 Chengdu Open
2257 Chengdu Open
2258 Chengdu Open
2259 Chengdu Open
2260 Chengdu Open
2261 Zhuhai Open
2262 Zhuhai Open
2263 Zhuhai Open
2264 Zhuhai Open
2265 Zhuhai Open
2266 Zhuhai Open
2267 Zhuhai Open
2268 Zhuhai Open
2269 Zhuhai Open
2270 Zhuhai Open
2271 Zhuhai Open
2272 Zhuhai Open
2273 Zhuhai Open
2274 Zhuhai Open
2275 Zhuhai Open
2276 Zhuhai Open
2277 Zhuhai Open
2278 Zhuhai Open
2279 Zhuhai Open
2280 Zhuhai Open
2281 Zhuhai Open
2282 Zhuhai Open
2283 Zhuhai Open
2284 Zhuhai Open
2285 Zhuhai Open
2286 Zhuhai Open
2287 Zhuhai Open
2288 China Open
2289 China Open
2290 China Open
2291 China Open
2292 China Open
2293 China Open
2294 China Open
2295 China Open
2296 China Open
2297 China Open
2298 China Open
2299 China Open
2300 China Open
2301 China Open
2302 China Open
2303 China Open
2304 China Open
2305 China Open
2306 China Open
2307 China Open
2308 China Open
2309 China Open
2310 China Open
2311 China Open
2312 China Open
2313 China Open
2314 China Open
2315 China Open
2316 China Open
2317 China Open
2318 China Open
2319 Rakuten Japan Open Tennis Championships
2320 Rakuten Japan Open Tennis Championships
2321 Rakuten Japan Open Tennis Championships
2322 Rakuten Japan Open Tennis Championships
2323 Rakuten Japan Open Tennis Championships
2324 Rakuten Japan Open Tennis Championships
2325 Rakuten Japan Open Tennis Championships
2326 Rakuten Japan Open Tennis Championships
2327 Rakuten Japan Open Tennis Championships
2328 Rakuten Japan Open Tennis Championships
2329 Rakuten Japan Open Tennis Championships
2330 Rakuten Japan Open Tennis Championships
2331 Rakuten Japan Open Tennis Championships
2332 Rakuten Japan Open Tennis Championships
2333 Rakuten Japan Open Tennis Championships
2334 Rakuten Japan Open Tennis Championships
2335 Rakuten Japan Open Tennis Championships
2336 Rakuten Japan Open Tennis Championships
2337 Rakuten Japan Open Tennis Championships
2338 Rakuten Japan Open Tennis Championships
2339 Rakuten Japan Open Tennis Championships
2340 Rakuten Japan Open Tennis Championships
2341 Rakuten Japan Open Tennis Championships
2342 Rakuten Japan Open Tennis Championships
2343 Rakuten Japan Open Tennis Championships
2344 Rakuten Japan Open Tennis Championships
2345 Rakuten Japan Open Tennis Championships
2346 Rakuten Japan Open Tennis Championships
2347 Rakuten Japan Open Tennis Championships
2348 Rakuten Japan Open Tennis Championships
2349 Rakuten Japan Open Tennis Championships
2350 Shanghai Masters
2351 Shanghai Masters
2352 Shanghai Masters
2353 Shanghai Masters
2354 Shanghai Masters

Pandas allows to do better then using python sets.

In [27]:
df['Tournament'].unique()
# see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html

array(['Brisbane International', 'Qatar Exxon Mobil Open',
       'Maharashtra Open', 'ASB Classic', 'Sydney International',
       'Australian Open', 'Cordoba Open', 'Open Sud de France',
       'Sofia Open', 'Argentina Open', 'New York Open',
       'ABN AMRO World Tennis Tournament', 'Delray Beach Open', 'Open 13',
       'Rio Open', 'Abierto Mexicano', 'Dubai Tennis Championships',
       'Brasil Open', 'BNP Paribas Open', 'Sony Ericsson Open',
       "U.S. Men's Clay Court Championships", 'Grand Prix Hassan II',
       'Monte Carlo Masters', 'Open Banco Sabadell ', 'Hungarian Open',
       'Millennium Estoril Open', 'BMW Open', 'Mutua Madrid Open',
       "Internazionali BNL d'Italia", 'Geneva Open', 'Lyon Open',
       'French Open', 'Rosmalen Grass Court Championships',
       'Mercedes Cup', 'Halle Open', "Queen's Club Championships",
       'Antalya Open', 'Eastbourne International', 'Wimbledon',
       'SkiStar Swedish Open', 'Hall of Fame Championships',
       'Croatia Open', 'BB&T Atlanta Open', 'Suisse Open Gstaad',
       'German Tennis Championships', 'Generali Open',
       'Abierto Mexicano Mifel', 'Citi Open', 'Rogers Masters',
       'Western & Southern Financial Group Masters',
       'Winston-Salem Open at Wake Forest University', 'US Open',
       'Open de Moselle', 'St. Petersburg Open', 'Chengdu Open',
       'Zhuhai Open', 'China Open',
       'Rakuten Japan Open Tennis Championships', 'Shanghai Masters',
       'European Open', 'Kremlin Cup', 'Stockholm Open', 'Swiss Indoors',
       'Erste Bank Open', 'BNP Paribas Masters', 'Masters Cup'],
      dtype=object)

In [28]:
df['Tournament'].value_counts()
# see: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html

French Open                           127
Australian Open                       127
US Open                               127
Wimbledon                             127
Sony Ericsson Open                     95
                                     ...
Rosmalen Grass Court Championships     27
Antalya Open                           27
Eastbourne International               27
SkiStar Swedish Open                   27
Masters Cup                            15
Name: Tournament, Length: 66, dtype: int64

In [29]:
# Note it returns a Series
for tournament, count in df['Tournament'].value_counts().iteritems():
    print ("During the",tournament, "there were", count, "matches.")

During the French Open there were 127 matches.
During the Australian Open there were 127 matches.
During the US Open there were 127 matches.
During the Wimbledon there were 127 matches.
During the Sony Ericsson Open there were 95 matches.
During the BNP Paribas Open there were 95 matches.
During the Internazionali BNL d'Italia there were 55 matches.
During the Mutua Madrid Open there were 55 matches.
During the Western & Southern Financial Group Masters there were 55 matches.
During the Monte Carlo Masters there were 55 matches.
During the Rogers Masters there were 55 matches.
During the Shanghai Masters there were 55 matches.
During the Winston-Salem Open at Wake Forest University there were 47 matches.
During the BNP Paribas Masters there were 47 matches.
During the Open Banco Sabadell  there were 47 matches.
During the Citi Open there were 47 matches.
During the Qatar Exxon Mobil Open there were 31 matches.
During the Halle Open there were 31 matches.
During the Queen's Club Championships there were 31 matches.
During the Grand Prix Hassan II there were 31 matches.
During the Abierto Mexicano there were 31 matches.
During the Rio Open there were 31 matches.
During the China Open there were 31 matches.
During the Delray Beach Open there were 31 matches.
During the ABN AMRO World Tennis Tournament there were 31 matches.
During the Rakuten Japan Open Tennis Championships there were 31 matches.
During the German Tennis Championships there were 31 matches.
During the Swiss Indoors there were 31 matches.
During the Erste Bank Open there were 31 matches.
During the Dubai Tennis Championships there were 31 matches.
During the Abierto Mexicano Mifel there were 27 matches.
During the Generali Open there were 27 matches.
During the Brisbane International there were 27 matches.
During the Open de Moselle there were 27 matches.
During the St. Petersburg Open there were 27 matches.
During the BB&T Atlanta Open there were 27 matches.
During the Chengdu Open there were 27 matches.
During the Zhuhai Open there were 27 matches.
During the European Open there were 27 matches.
During the Kremlin Cup there were 27 matches.
During the Stockholm Open there were 27 matches.
During the Suisse Open Gstaad there were 27 matches.
During the Mercedes Cup there were 27 matches.
During the Croatia Open there were 27 matches.
During the Brasil Open there were 27 matches.
During the Maharashtra Open there were 27 matches.
During the ASB Classic there were 27 matches.
During the Sydney International there were 27 matches.
During the Cordoba Open there were 27 matches.
During the Open Sud de France there were 27 matches.
During the Sofia Open there were 27 matches.
During the Argentina Open there were 27 matches.
During the New York Open there were 27 matches.
During the Open 13 there were 27 matches.
During the U.S. Men's Clay Court Championships there were 27 matches.
During the Hall of Fame Championships there were 27 matches.
During the Hungarian Open there were 27 matches.
During the Millennium Estoril Open there were 27 matches.
During the BMW Open there were 27 matches.
During the Geneva Open there were 27 matches.
During the Lyon Open there were 27 matches.
During the Rosmalen Grass Court Championships there were 27 matches.
During the Antalya Open there were 27 matches.
During the Eastbourne International there were 27 matches.
During the SkiStar Swedish Open there were 27 matches.
During the Masters Cup there were 15 matches.

# Question: Find player with most wins

In [30]:
import pandas as pd

dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'
df = pd.read_excel(dataset_file) 

winners = df['Winner'].value_counts()
most_winner = winners.index[0]
most_winner

'Medvedev D.'

## A focus  on Series

- **Series** is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its *index*.

It provides functionalities similar to that of python lists and python dictionaries.

As for Dataframes, Series have an index. The default index is made by numbers from 0-1, otherwise we can specify it, and we can use arbitrary labels as index.

In [31]:
import pandas as pd

pds = pd.Series([4, 7, -5, -3])

print(pds)

0    4
1    7
2   -5
3   -3
dtype: int64

In [32]:
pds = pd.Series( [4, 7, -5, -3], 
                 index=["George", "John", "Paul", "Ringo"])

# Series my have a name and its index may also have a name
pds.name = "The Beatles"
pds.index.name = "Member"

print(pds)

Member
George    4
John      7
Paul     -5
Ringo    -3
Name: The Beatles, dtype: int64

### Indexing and slicing

Series indexing works analogously to Python list if you want to access by position, or similar to python dictionaries if you want to access by index value.

In [33]:
# access by position
print (pds[2])
print ()

# access by index value
print (pds['Paul'])

-5

-5

In [34]:
# Fancy indexing by position
print (pds[ [0,3] ])
print ()

# Fancy indexing by index value
p = pds[  ['John', 'Ringo']  ]
print ( p )
print ()

# note: they return pandas series
print (type(p))

Member
George    4
Ringo    -3
Name: The Beatles, dtype: int64

Member
John     7
Ringo   -3
Name: The Beatles, dtype: int64

<class 'pandas.core.series.Series'>

In [35]:
# We also have Boolean Indexing
print (pds[ [True, False, False, True] ])

Member
George    4
Ringo    -3
Name: The Beatles, dtype: int64

## Slicing, loc and iloc

Pandas tries to understand whether you are using a position or an index value. (What if they are both integers?)

To avoid confusion, one good recommendation is to use `loc` and `iloc`.

#### Example
As in Python, we can use slicing with positions. **Right extreme is NOT included**.

Recommendation: use `iloc`

In [36]:
print ( pds )
print ()

print ( pds[1:3] )
print ()

print ( pds.iloc[1:3] )
print ()

Member
George    4
John      7
Paul     -5
Ringo    -3
Name: The Beatles, dtype: int64

Member
John    7
Paul   -5
Name: The Beatles, dtype: int64

Member
John    7
Paul   -5
Name: The Beatles, dtype: int64

#### Example
But we can also use slicing with labels. **Right extreme is included**. Index must be sorted !

Recommendation: use `loc`

In [37]:
print ( pds['George':'P'] )     # 'P' is not present
print ()

print ( pds['George':'Paul'] )
print ()

print ( pds.loc['George':'Paul'] )

Member
George    4
John      7
Name: The Beatles, dtype: int64

Member
George    4
John      7
Paul     -5
Name: The Beatles, dtype: int64

Member
George    4
John      7
Paul     -5
Name: The Beatles, dtype: int64

As for a dictionary you can check for presence.

In [38]:
print("'John' in pds:", "John" in pds )
print("'Mark' in pds:", "Mark" in pds )

# try
# pds["Mark"] # KeyError exception if not present

'John' in pds: True
'Mark' in pds: False

### Series are mutable

We can change its values with an assignment (also with slicing).

In [39]:
print(pds)
print()

pds['Paul'] = 42

pds['George':'Paul'] = 5

print(pds)

Member
George    4
John      7
Paul     -5
Ringo    -3
Name: The Beatles, dtype: int64

Member
George    5
John      5
Paul      5
Ringo    -3
Name: The Beatles, dtype: int64

In [40]:
pds['Gennaro'] = 12 # It's a honor be part of this group

print(pds)

Member
George      5
John        5
Paul        5
Ringo      -3
Gennaro    12
Name: The Beatles, dtype: int64

### Filtering + Boolean Indexing

We can filter entries of a Series.

(You have the same in NumPy's Boolean indexing).

#### Example
Here we get only rows with a positive value.

In [41]:
a = pds > 0
print("pds > 0\n", a)
print()

print("pds[ pds > 0]:\n", 
       pds[ pds > 0 ]  ) # get only positive values of pds 
print("Fab Four are back!")

pds > 0
 Member
George      True
John        True
Paul        True
Ringo      False
Gennaro     True
Name: The Beatles, dtype: bool

pds[ pds > 0]:
 Member
George      5
John        5
Paul        5
Gennaro    12
Name: The Beatles, dtype: int64
Fab Four are back!

In [42]:
# Bye-bye gennaro

psd = pds.drop('Gennaro')

### Operations
We can perform NumPy operations on a Series.

In [43]:
import numpy as np

print("pds*2:\n", pds*2 )
print()

print("np.exp( pds ):\n", np.exp( pds ) )

pds*2:
 Member
George     10
John       10
Paul       10
Ringo      -6
Gennaro    24
Name: The Beatles, dtype: int64

np.exp( pds ):
 Member
George        148.413159
John          148.413159
Paul          148.413159
Ringo           0.049787
Gennaro    162754.791419
Name: The Beatles, dtype: float64

### Series from a dictionary

Series are so close to a dictionary that you can create one from a dictionary.

In [44]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
pds = pd.Series(sdata)

print(pds)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

When passing also an index, this is used to filter matching entries of the dictionary.

In [45]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
pds = pd.Series(sdata, index=states) # California is not in sdata

print(pds) # Welcome missing values

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Note that `'Utah'` was not included, and that a special value `NaN` is used for the index `California`.

Missing data is common, (e.g., movies withouth ratings), and usually `NaN` is used to represent them. 

It is possible to use `isnull` to find null values, and to replace them.

In [46]:
obj = pd.Series({'Ohio': 35000, 'Texas': 71000, 
                 'Oregon': 16000, 'Utah': 5000},
               index=['Ohio', 'Texas', 'California'])

print (pd.isnull(obj))
print ()

obj [ pd.isnull(obj) ] = 0.0

print (obj)

Ohio          False
Texas         False
California     True
dtype: bool

Ohio          35000.0
Texas         71000.0
California        0.0
dtype: float64

Alternatively one can use the `fillna` method.

In [47]:
obj = pd.Series({'Ohio': 35000, 'Texas': 71000, 
                 'Oregon': 16000, 'Utah': 5000},
               index=['Ohio', 'Texas', 'California'])

obj2 = obj.fillna(0.0) # returns a new data frame
print (obj)
print ()
print (obj2)

Ohio          35000.0
Texas         71000.0
California        NaN
dtype: float64

Ohio          35000.0
Texas         71000.0
California        0.0
dtype: float64

In [48]:
obj = pd.Series({'Ohio': 35000, 'Texas': 71000, 
                 'Oregon': 16000, 'Utah': 5000},
               index=['Ohio', 'Texas', 'California'])

obj.fillna(0.0, inplace=True) # inplace modification
print (obj)

Ohio          35000.0
Texas         71000.0
California        0.0
dtype: float64

### Allignment by index

A useful Series feature for many applications is that it automatically aligns by index
label in arithmetic operations.

In [49]:
pds1 = pd.Series({'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000})  # California is missing
  
pds2 = pd.Series({'California': 40000, 'Texas': 555, 'Oregon': 111, 'Utah': 222}) # Ohio is missing

pds1 + pds2

California        NaN
Ohio              NaN
Oregon        16111.0
Texas         71555.0
Utah           5222.0
dtype: float64

In [50]:
pds1 = pd.Series({'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000})  # California is missing
  
pds2 = pd.Series({'California': 40000, 'Texas': 555, 'Oregon': 111, 'Utah': 222}) # Ohio is missing

pds1.add(pds2, fill_value=0)

California    40000.0
Ohio          35000.0
Oregon        16111.0
Texas         71555.0
Utah           5222.0
dtype: float64

## Question: List the player names, and count the number of matches they had

In [51]:
import pandas as pd

dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'
df = pd.read_excel(dataset_file) 
print(df['Winner'].value_counts())
print(df['Loser'].value_counts())
players = df['Winner'].value_counts() + df['Loser'].value_counts()
players.sort_values()

Medvedev D.       58
Djokovic N.       54
Nadal R.          52
Federer R.        51
Tsitsipas S.      50
                  ..
Clarke J.          1
Ymer E.            1
Serdarusic N.      1
King K.            1
Berrettini M.      1
Name: Winner, Length: 204, dtype: int64
Simon G.         28
Sousa J.         28
Paire B.         28
Fritz T.         28
Millman J.       27
                 ..
Aragone JC        1
Griekspoor T.     1
Watanuki Y.       1
Moraing M.        1
Tsitsipas S.      1
Name: Loser, Length: 291, dtype: int64

Celikbilek A.         2.0
Milojevic N.          2.0
Soeda G.              2.0
Griekspoor T.         2.0
Statham J.            2.0
                     ...
Weintraub A.          NaN
Young D.              NaN
Zapata Miralles B.    NaN
Zayid M.S.            NaN
Zhang Ze.             NaN
Length: 291, dtype: float64

In [52]:
players = df['Winner'].value_counts().add(df['Loser'].value_counts(), fill_value=0)

# Note: you can sort !
players.sort_values(ascending=False)

Medvedev D.       76.0
Tsitsipas S.      74.0
Djokovic N.       63.0
Schwartzman D.    63.0
Goffin D.         62.0
                  ...
Safwat M.          1.0
Gaio F.            1.0
Roumane R.         1.0
Rola B.            1.0
Krstin P.          1.0
Length: 291, dtype: float64

## Row Selection, Addition, and Deletion

Very similar to column operation , with a different way of specifying rows.

More details at https://pandas.pydata.org/pandas-docs/stable/indexing.html.

#### Example (Selection)
We can access rows by using the index value in the special `loc` attribute.

Note that the result is a dataframe.

In [53]:
df.set_index("Location", inplace=True) # Alternative to df = df.set_index("Location")

df.loc['Brisbane'] # get all the matching rows

,ATP,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
Location,,,,,,,,,,,,,,,,,,,,,
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,Nishioka Y.,...,0.0,Completed,1.36,3.00,1.36,3.37,1.42,3.60,1.35,3.18
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,Bedene A.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,Mayer L.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,Sandgren T.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,Humbert U.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Kudla D.,Fritz T.,...,1.0,Completed,2.62,1.44,2.80,1.49,2.85,1.55,2.70,1.47
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Chardy J.,Struff J.L.,...,1.0,Completed,2.10,1.66,2.23,1.72,2.26,1.74,2.19,1.68
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Murray A.,Duckworth J.,...,0.0,Completed,1.28,3.50,1.38,3.29,1.39,3.60,1.34,3.26
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Kyrgios N.,Harrison R.,...,1.0,Completed,1.40,2.75,1.47,2.87,1.50,3.16,1.44,2.80
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Tsonga J.W.,Kokkinakis T.,...,0.0,Completed,2.25,1.57,2.27,1.70,2.42,1.71,2.27,1.64
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,De Minaur A.,Popyrin A.,...,0.0,Completed,1.20,4.33,1.21,4.98,1.24,5.00,1.20,4.55
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Thompson J.,Bolt A.,...,0.0,Completed,1.33,3.25,1.37,3.35,1.38,3.40,1.36,3.14
Brisbane,1,Brisbane International,2019-01-02,ATP250,Outdoor,Hard,2nd Round,3,Dimitrov G.,Millman J.,...,0.0,Completed,1.40,2.75,1.47,2.90,1.49,3.00,1.43,2.82
Brisbane,1,Brisbane International,2019-01-02,ATP250,Outdoor,Hard,2nd Round,3,Uchiyama Y.,Edmund K.,...,0.0,Completed,4.00,1.22,4.87,1.22,5.00,1.26,4.26,1.22
Brisbane,1,Brisbane International,2019-01-02,ATP250,Outdoor,Hard,2nd Round,3,Nishikori K.,Kudla D.,...,0.0,Completed,1.16,5.00,1.19,5.42,1.19,5.65,1.16,5.17
Brisbane,1,Brisbane International,2019-01-02,ATP250,Outdoor,Hard,2nd Round,3,Raonic M.,Kecmanovic M.,...,0.0,Completed,1.20,4.33,1.22,4.86,1.25,6.07,1.21,4.48
Brisbane,1,Brisbane International,2019-01-02,ATP250,Outdoor,Hard,2nd Round,3,Chardy J.,Kyrgios N.,...,1.0,Completed,3.00,1.36,3.24,1.40,3.32,1.42,3.11,1.37
Brisbane,1,Brisbane International,2019-01-02,ATP250,Outdoor,Hard,2nd Round,3,Medvedev D.,Murray A.,...,0.0,Completed,1.83,1.83,1.90,2.00,1.99,2.00,1.88,1.93
Brisbane,1,Brisbane International,2019-01-02,ATP250,Outdoor,Hard,2nd Round,3,De Minaur A.,Thompson J.,...,0.0,Completed,1.36,3.00,1.39,3.28,1.44,3.28,1.38,3.06
Brisbane,1,Brisbane International,2019-01-03,ATP250,Outdoor,Hard,2nd Round,3,Tsonga J.W.,Daniel T.,...,0.0,Completed,1.25,3.75,1.27,4.23,1.35,4.23,1.27,3.84
Brisbane,1,Brisbane International,2019-01-03,ATP250,Outdoor,Hard,Quarterfinals,3,Chardy J.,Uchiyama Y.,...,1.0,Completed,1.61,2.30,1.64,2.45,1.67,2.55,1.61,2.34
Brisbane,1,Brisbane International,2019-01-03,ATP250,Outdoor,Hard,Quarterfinals,3,Nishikori K.,Dimitrov G.,...,0.0,Completed,1.61,2.30,1.68,2.36,1.73,2.38,1.65,2.26
Brisbane,1,Brisbane International,2019-01-04,ATP250,Outdoor,Hard,Quarterfinals,3,Medvedev D.,Raonic M.,...,1.0,Completed,2.00,1.80,2.16,1.80,2.16,1.91,2.04,1.79
Brisbane,1,Brisbane International,2019-01-04,ATP250,Outdoor,Hard,Quarterfinals,3,Tsonga J.W.,De Minaur A.,...,0.0,Completed,2.50,1.53,2.50,1.61,2.56,1.63,2.42,1.57
Brisbane,1,Brisbane International,2019-01-05,ATP250,Outdoor,Hard,Semifinals,3,Nishikori K.,Chardy J.,...,0.0,Completed,1.16,5.00,1.20,5.30,1.20,5.80,1.17,5.11
Brisbane,1,Brisbane International,2019-01-05,ATP250,Outdoor,Hard,Semifinals,3,Medvedev D.,Tsonga J.W.,...,0.0,Completed,1.61,2.30,1.71,2.30,1.79,2.46,1.67,2.23
Brisbane,1,Brisbane International,2019-01-06,ATP250,Outdoor,Hard,The Final,3,Nishikori K.,Medvedev D.,...,1.0,Completed,1.57,2.37,1.66,2.40,1.67,2.54,1.60,2.36

#### Example (Selection)
We can access rows by using a list of index values.

In [54]:
df.loc[ ['Paris','London'] ]

,ATP,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
Location,,,,,,,,,,,,,,,,,,,,,
Paris,32,French Open,2019-05-26,Grand Slam,Outdoor,Clay,1st Round,5,Cilic M.,Fabbiano T.,...,0.0,Completed,1.08,8.00,1.08,10.62,1.11,10.62,1.08,8.01
Paris,32,French Open,2019-05-26,Grand Slam,Outdoor,Clay,1st Round,5,Popyrin A.,Humbert U.,...,1.0,Completed,2.00,1.80,2.12,1.81,2.18,1.85,2.04,1.78
Paris,32,French Open,2019-05-26,Grand Slam,Outdoor,Clay,1st Round,5,Ruud C.,Gulbis E.,...,0.0,Completed,1.28,3.75,1.28,4.15,1.31,4.15,1.27,3.81
Paris,32,French Open,2019-05-26,Grand Slam,Outdoor,Clay,1st Round,5,Berrettini M.,Andujar P.,...,1.0,Completed,1.20,4.50,1.19,5.42,1.22,5.42,1.18,4.81
Paris,32,French Open,2019-05-26,Grand Slam,Outdoor,Clay,1st Round,5,Dimitrov G.,Tipsarevic J.,...,2.0,Completed,1.16,5.00,1.20,5.21,1.20,5.50,1.18,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
London,66,Masters Cup,2019-11-15,Masters Cup,Indoor,Hard,Round Robin,3,Nadal R.,Tsitsipas S.,...,1.0,Completed,1.44,2.75,1.39,3.26,1.48,3.30,1.41,2.93
London,66,Masters Cup,2019-11-15,Masters Cup,Indoor,Hard,Round Robin,3,Zverev A.,Medvedev D.,...,0.0,Completed,1.90,1.90,2.14,1.79,2.24,2.06,1.92,1.90
London,66,Masters Cup,2019-11-16,Masters Cup,Indoor,Hard,Semifinals,3,Tsitsipas S.,Federer R.,...,0.0,Completed,3.50,1.30,3.75,1.33,3.75,1.40,3.39,1.33
London,66,Masters Cup,2019-11-16,Masters Cup,Indoor,Hard,Semifinals,3,Thiem D.,Zverev A.,...,0.0,Completed,1.80,2.00,1.84,2.10,1.87,2.20,1.78,2.06
London,66,Masters Cup,2019-11-17,Masters Cup,Indoor,Hard,The Final,3,Tsitsipas S.,Thiem D.,...,1.0,Completed,2.00,1.80,2.00,1.93,2.05,1.93,1.96,1.86

#### Example (Selection)
Rows can be selected by using integer location with the special `iloc` attribute.

In [55]:
df.iloc[2]

ATP                                1
Tournament    Brisbane International
Date             2018-12-31 00:00:00
Series                        ATP250
Court                        Outdoor
Surface                         Hard
Round                      1st Round
Best of                            3
Winner                 Kecmanovic M.
Loser                       Mayer L.
WRank                          131.0
LRank                           56.0
WPts                           433.0
LPts                           895.0
W1                               6.0
L1                               3.0
W2                               6.0
L2                               1.0
W3                               NaN
L3                               NaN
W4                               NaN
L4                               NaN
W5                               NaN
L5                               NaN
Wsets                            2.0
Lsets                            0.0
Comment                    Completed
B365W                           1.57
B365L                           2.25
PSW                             1.67
PSL                             2.32
MaxW                            1.71
MaxL                             2.4
AvgW                            1.63
AvgL                            2.28
Name: Brisbane, dtype: object

#### Example (Selection)
Slicing over the rows with `iloc`.

In [56]:
df.iloc[1:10]

,ATP,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
Location,,,,,,,,,,,,,,,,,,,,,
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,Bedene A.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,Mayer L.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,Sandgren T.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
Brisbane,1,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,Humbert U.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Kudla D.,Fritz T.,...,1.0,Completed,2.62,1.44,2.80,1.49,2.85,1.55,2.70,1.47
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Chardy J.,Struff J.L.,...,1.0,Completed,2.10,1.66,2.23,1.72,2.26,1.74,2.19,1.68
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Murray A.,Duckworth J.,...,0.0,Completed,1.28,3.50,1.38,3.29,1.39,3.60,1.34,3.26
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Kyrgios N.,Harrison R.,...,1.0,Completed,1.40,2.75,1.47,2.87,1.50,3.16,1.44,2.80
Brisbane,1,Brisbane International,2019-01-01,ATP250,Outdoor,Hard,1st Round,3,Tsonga J.W.,Kokkinakis T.,...,0.0,Completed,2.25,1.57,2.27,1.70,2.42,1.71,2.27,1.64

#### Example (Addition)
We can add a new row by using `loc` attribute.

Pandas also has an `append` function (see https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.append.html).

In [57]:
# Make a smaller copy
small_df = pd.DataFrame( df[ ['Surface', 'Winner', 'Loser'] ] ) 
small_df = small_df.loc[['London', 'Paris']]

small_df.loc['Mestre'] = ['Clay', 'Claudio L.', 'Nadal R.']
small_df.loc['Mestre'] = ['Clay', 'Claudio L.', 'Federer R.'] # This is a replace

small_df

         Surface            Winner          Loser
Location
London     Grass     Tipsarevic J.    Nishioka Y.
London     Grass       Anderson K.   Herbert P.H.
London     Grass          Lopez F.       Giron M.
London     Grass  Bautista Agut R.   Gojowczyk P.
London     Grass         Opelka R.     Stebe C.M.
...          ...               ...            ...
Paris       Hard          Nadal R.    Tsonga J.W.
Paris       Hard       Djokovic N.    Dimitrov G.
Paris       Hard     Shapovalov D.       Nadal R.
Paris       Hard       Djokovic N.  Shapovalov D.
Mestre      Clay        Claudio L.     Federer R.

[317 rows x 3 columns]

#### Example (Deletion)
We can remove a row (or more) with `drop()` function.

In [58]:
small_df.drop("Mestre", inplace=True) # axis=0 is the default
small_df

         Surface            Winner          Loser
Location
London     Grass     Tipsarevic J.    Nishioka Y.
London     Grass       Anderson K.   Herbert P.H.
London     Grass          Lopez F.       Giron M.
London     Grass  Bautista Agut R.   Gojowczyk P.
London     Grass         Opelka R.     Stebe C.M.
...          ...               ...            ...
Paris       Hard     Shapovalov D.     Monfils G.
Paris       Hard          Nadal R.    Tsonga J.W.
Paris       Hard       Djokovic N.    Dimitrov G.
Paris       Hard     Shapovalov D.       Nadal R.
Paris       Hard       Djokovic N.  Shapovalov D.

[316 rows x 3 columns]

In [59]:
# Make a smaller copy
small_df = pd.DataFrame( df[ ['Surface', 'Winner', 'Loser'] ] ) 
small_df = small_df.loc[['London', 'Paris']]

small_df.loc['Mestre'] = ['Clay', 'Claudio L.', 'Nadal R.']
small_df.loc['Mestre'] = ['Clay', 'Claudio L.', 'Federer R.'] # This is a replace

# Remove all matching rows
small_df.drop(["London", "Paris"], inplace=True)
small_df

         Surface      Winner       Loser
Location
Mestre      Clay  Claudio L.  Federer R.

### Creating a DataFrame

There are many ways to construct a DataFrame, though one of the most common is from a dictionary of equal-length lists (or NumPy arrays).

In [60]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'population': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

df = pd.DataFrame(data) 

df.index.name = "Progressive"   # Set index name
df.columns.name = 'Attributes'  # Set columns name

df # Default index is 0...N-1

Attributes    state  year  population
Progressive
0              Ohio  2000         1.5
1              Ohio  2001         1.7
2              Ohio  2002         3.6
3            Nevada  2001         2.4
4            Nevada  2002         2.9
5            Nevada  2003         3.2

In [61]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'population': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

df = pd.DataFrame(data,
                 index = ['xxx1','xxx2','xxx3','xxx4','xxx5','xxx6']) 

df.index.name   = "Custom ID"   # Set index name
df.columns.name = 'Attributes'  # Set columns name

df

Attributes   state  year  population
Custom ID
xxx1          Ohio  2000         1.5
xxx2          Ohio  2001         1.7
xxx3          Ohio  2002         3.6
xxx4        Nevada  2001         2.4
xxx5        Nevada  2002         2.9
xxx6        Nevada  2003         3.2

## From pandas to numpy

If you prefer working with numpy

In [62]:
m = df.values
print (type(m))
print ()

print (m)

<class 'numpy.ndarray'>

[['Ohio' 2000 1.5]
 ['Ohio' 2001 1.7]
 ['Ohio' 2002 3.6]
 ['Nevada' 2001 2.4]
 ['Nevada' 2002 2.9]
 ['Nevada' 2003 3.2]]

# Question: Find the most unexpected win by Nadal with largest odds

In [63]:
import pandas as pd

dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'

df = pd.read_excel(dataset_file)

In [64]:
nadal_winner = df[ df['Winner']=='Nadal R.' ]
nadal_winner = nadal_winner[ ['Winner', 'B365W'] ]
nadal_winner.columns = ['Player','bet'] # see also rename function
nadal_winner.head()

       Player   bet
149  Nadal R.  1.05
218  Nadal R.  1.06
241  Nadal R.  1.10
252  Nadal R.  1.14
260  Nadal R.  1.04

In [65]:
nadal_winner.sort_values(by='bet',ascending=False, inplace=True)
nadal_winner.head()

        Player   bet
1150  Nadal R.  1.44
1950  Nadal R.  1.40
1595  Nadal R.  1.25
2586  Nadal R.  1.25
1148  Nadal R.  1.25

In [66]:
match_id = nadal_winner.index[1]
print (df.loc[match_id])

ATP                            49
Location                 Montreal
Tournament         Rogers Masters
Date          2019-08-11 00:00:00
Series               Masters 1000
Court                     Outdoor
Surface                      Hard
Round                   The Final
Best of                         3
Winner                   Nadal R.
Loser                 Medvedev D.
WRank                         2.0
LRank                         9.0
WPts                       7945.0
LPts                       2745.0
W1                            6.0
L1                            3.0
W2                            6.0
L2                            0.0
W3                            NaN
L3                            NaN
W4                            NaN
L4                            NaN
W5                            NaN
L5                            NaN
Wsets                         2.0
Lsets                         0.0
Comment                 Completed
B365W                         1.4
B365L                         3.0
PSW                          1.41
PSL                          3.21
MaxW                         1.44
MaxL                         3.25
AvgW                          1.4
AvgL                         2.99
Name: 1950, dtype: object

# Question: how many times the player with the best ranking won the match?

In [67]:
import pandas as pd

dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'

df = pd.read_excel(dataset_file)

In [68]:
df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts',
       'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets',
       'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL', 'MaxW', 'MaxL',
       'AvgW', 'AvgL'],
      dtype='object')

In [69]:
w_gt_l = df['WRank']>df['LRank']

w_gt_l.head()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [70]:
w_gt_l = w_gt_l.astype(int)

w_gt_l.head()

0    0
1    0
2    1
3    0
4    1
dtype: int64

In [71]:
total_wins = w_gt_l.sum()

total_wins

1004

In [72]:
total_matches, _ = df.shape

total_matches

2610

In [73]:
print ("The success rate of the best ranked player is", round(100.0*total_wins/total_matches,2), "%" )

The success rate of the best ranked player is 38.47 %

# Question: how much would you gain or lose by always betting 10€ on the best ranked player?

In [74]:
import pandas as pd

dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'

df = pd.read_excel(dataset_file)

In [75]:
w_gt_l = df['WRank']>df['LRank']

In [76]:
# decompose the following to understand each singles setps
gains = ( (df['B365W'][w_gt_l]-1.0) * 5.0).sum()

In [77]:
losses = (~w_gt_l).sum() * 5.0

In [78]:
total = gains - losses

print ("If always betting on the best ranked, the profit would be", total)

If always betting on the best ranked, the profit would be -943.7999999999993

## Additional useful manipulation

Suppose, for some reason, you want to invert name/surname order.

That is, suppose you want to apply the same &custom* function to every element of a dataframe/series.

In [79]:
def my_fun (x):
    tokens = x.split()
    tokens = tokens[::-1]
    new_x  = ' '.join(tokens)
    return new_x

# note the re-assiggnment
df['Winner'] = df['Winner'].map(my_fun)

df['Winner']

0         G. Dimitrov
1           M. Raonic
2       M. Kecmanovic
3          J. Millman
4         Y. Uchiyama
            ...
2605         R. Nadal
2606        A. Zverev
2607     S. Tsitsipas
2608         D. Thiem
2609     S. Tsitsipas
Name: Winner, Length: 2610, dtype: object

## Question: What is the surface with longest matches on average (more games)?

In [80]:
df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts',
       'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets',
       'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL', 'MaxW', 'MaxL',
       'AvgW', 'AvgL'],
      dtype='object')

In [81]:
sub_df = df[ ['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5'] ]
sub_df.head()

    W1   L1   W2   L2   W3   L3  W4  L4  W5  L5
0  6.0  3.0  6.0  4.0  NaN  NaN NaN NaN NaN NaN
1  6.0  0.0  6.0  3.0  NaN  NaN NaN NaN NaN NaN
2  6.0  3.0  6.0  1.0  NaN  NaN NaN NaN NaN NaN
3  7.0  6.0  6.0  7.0  6.0  0.0 NaN NaN NaN NaN
4  6.0  4.0  7.0  6.0  NaN  NaN NaN NaN NaN NaN

In [82]:
sub_df = sub_df.fillna(0.0)
sub_df.head()

    W1   L1   W2   L2   W3   L3   W4   L4   W5   L5
0  6.0  3.0  6.0  4.0  0.0  0.0  0.0  0.0  0.0  0.0
1  6.0  0.0  6.0  3.0  0.0  0.0  0.0  0.0  0.0  0.0
2  6.0  3.0  6.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3  7.0  6.0  6.0  7.0  6.0  0.0  0.0  0.0  0.0  0.0
4  6.0  4.0  7.0  6.0  0.0  0.0  0.0  0.0  0.0  0.0

In [83]:
sub_df.sum()

W1    15085.0
L1    10879.0
W2    15029.0
L2    10399.0
W3     7562.0
L3     4636.0
W4     1538.0
L4     1083.0
W5      619.0
L5      360.0
dtype: float64

In [84]:
sub_df.sum(axis=1)

0       19.0
1       15.0
2       16.0
3       32.0
4       23.0
        ...
2605    35.0
2606    23.0
2607    19.0
2608    21.0
2609    34.0
Length: 2610, dtype: float64

In [85]:
df['games'] = sub_df.sum(axis=1)

In [86]:
df[ ['Surface','games'] ].groupby('Surface').mean()

             games
Surface
Clay     24.969349
Grass    28.904321
Hard     25.465070

## Pivot Tables

Similar to groupby, also columsn are grouped.

 - See https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot_table.html
 
The function `pivot_table` has the following main parameters.

| Param name | Description|
|---|:--|
| values  | The column to be aggregated |
| index   | Column names used to create rows of the Pivot Table |
| columns | Column names used to create cols of the Pivot Table  |
| aggfunc | Aggregation function (e.g., `np.sum`)

# Question: Find the most successful player by surface

In [87]:
import pandas as pd
dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'
df = pd.read_excel(dataset_file)

In [88]:
df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,...,0.0,Completed,1.36,3.00,1.36,3.37,1.42,3.60,1.35,3.18
1,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Raonic M.,...,0.0,Completed,1.18,4.50,1.23,4.68,1.27,4.84,1.22,4.26
2,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,...,0.0,Completed,1.57,2.25,1.67,2.32,1.71,2.40,1.63,2.28
3,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Millman J.,...,1.0,Completed,1.40,2.75,1.41,3.13,1.45,3.20,1.40,2.95
4,1,Brisbane,Brisbane International,2018-12-31,ATP250,Outdoor,Hard,1st Round,3,Uchiyama Y.,...,0.0,Completed,2.62,1.44,2.73,1.51,3.26,1.53,2.69,1.47

In [89]:
import pandas as pd
dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'
df = pd.read_excel(dataset_file) 


df.pivot_table(values="ATP", # irrelevant
               index="Winner",
               columns="Surface",
               aggfunc=len)

Surface             Clay  Grass  Hard
Winner
Albot R.             7.0    1.0  23.0
Anderson K.          NaN    3.0   8.0
Andreozzi G.         2.0    1.0   3.0
Andujar P.           9.0    NaN   6.0
Auger-Aliassime F.  12.0    9.0  12.0
...                  ...    ...   ...
Ymer M.              2.0    NaN   1.0
Zhang Zh.            NaN    NaN   2.0
Zverev A.           16.0    2.0  21.0
Zverev A.            NaN    NaN   2.0
Zverev M.            NaN    2.0   1.0

[204 rows x 3 columns]

In [90]:
df.pivot_table(values="ATP", # irrelevant
               index="Winner",
               columns="Surface",
               aggfunc=len,
               fill_value=0.0 )

Surface             Clay  Grass  Hard
Winner
Albot R.               7      1    23
Anderson K.            0      3     8
Andreozzi G.           2      1     3
Andujar P.             9      0     6
Auger-Aliassime F.    12      9    12
...                  ...    ...   ...
Ymer M.                2      0     1
Zhang Zh.              0      0     2
Zverev A.             16      2    21
Zverev A.              0      0     2
Zverev M.              0      2     1

[204 rows x 3 columns]

In [91]:
wins = df.pivot_table(values="ATP", # irrelevant
               index="Winner",
               columns="Surface",
               aggfunc=len,
               fill_value=0.0 )
wins.head()

Surface             Clay  Grass  Hard
Winner
Albot R.               7      1    23
Anderson K.            0      3     8
Andreozzi G.           2      1     3
Andujar P.             9      0     6
Auger-Aliassime F.    12      9    12

In [92]:
wins.columns

Index(['Clay', 'Grass', 'Hard'], dtype='object', name='Surface')

In [93]:
for surface in wins.columns:
    print (wins[surface].sort_values(ascending=False).head(1))
    print ()

Winner
Thiem D.    23
Name: Clay, dtype: int64

Winner
Berrettini M.    11
Name: Grass, dtype: int64

Winner
Medvedev D.    45
Name: Hard, dtype: int64

# Question: Find the player with the best success rate  by surface

In [94]:
import pandas as pd
dataset_file = 'http://tennis-data.co.uk/2019/2019.xlsx'
df = pd.read_excel(dataset_file)

In [95]:
wins = df.pivot_table(values="ATP", # irrelevant
               index="Winner",
               columns="Surface",
               aggfunc=len,
               fill_value=0.0 )
wins.head()

Surface             Clay  Grass  Hard
Winner
Albot R.               7      1    23
Anderson K.            0      3     8
Andreozzi G.           2      1     3
Andujar P.             9      0     6
Auger-Aliassime F.    12      9    12

In [96]:
losses = df.pivot_table(values="ATP", # irrelevant
               index="Loser",
               columns="Surface",
               aggfunc=len,
               fill_value=0.0 )
losses.head()

Surface       Clay  Grass  Hard
Loser
Albot R.         6      3    17
Altmaier D.      1      0     0
Anderson K.      0      2     2
Andreev A.       0      0     1
Andreozzi G.     8      2     4

In [97]:
total = wins + losses
total.head()

Surface       Clay  Grass  Hard
Albot R.      13.0    4.0  40.0
Altmaier D.    NaN    NaN   NaN
Anderson K.    0.0    5.0  10.0
Andreev A.     NaN    NaN   NaN
Andreozzi G.  10.0    3.0   7.0

In [98]:
total = wins.add(losses, fill_value=0)
total.head()

Surface       Clay  Grass  Hard
Albot R.      13.0    4.0  40.0
Altmaier D.    1.0    0.0   0.0
Anderson K.    0.0    5.0  10.0
Andreev A.     0.0    0.0   1.0
Andreozzi G.  10.0    3.0   7.0

In [99]:
wins.loc['Nadal R.']

Surface
Clay     21
Grass     5
Hard     26
Name: Nadal R., dtype: int64

In [100]:
losses.loc['Nadal R.']

Surface
Clay     3
Grass    1
Hard     4
Name: Nadal R., dtype: int64

In [101]:
total.loc['Nadal R.']

Surface
Clay     24.0
Grass     6.0
Hard     30.0
Name: Nadal R., dtype: float64

In [102]:
success_rate = wins / total

success_rate.head()

Surface           Clay     Grass      Hard
Albot R.      0.538462  0.250000  0.575000
Altmaier D.        NaN       NaN       NaN
Anderson K.        NaN  0.600000  0.800000
Andreev A.         NaN       NaN       NaN
Andreozzi G.  0.200000  0.333333  0.428571

In [103]:
success_rate = wins / total
success_rate.fillna(0.0, inplace=True)
success_rate.head()

Surface           Clay     Grass      Hard
Albot R.      0.538462  0.250000  0.575000
Altmaier D.   0.000000  0.000000  0.000000
Anderson K.   0.000000  0.600000  0.800000
Andreev A.    0.000000  0.000000  0.000000
Andreozzi G.  0.200000  0.333333  0.428571

In [104]:
success_rate.loc['Nadal R.']

Surface
Clay     0.875000
Grass    0.833333
Hard     0.866667
Name: Nadal R., dtype: float64

In [105]:
success_rate.loc['Thiem D.']

Surface
Clay     0.766667
Grass    0.000000
Hard     0.758621
Name: Thiem D., dtype: float64

In [106]:
for surface in success_rate:  # note: you do not need to use .columns
    print (success_rate[surface].sort_values(ascending=False).head(1))
    print ()

Nadal R.    0.875
Name: Clay, dtype: float64

Djokovic N.    1.0
Name: Grass, dtype: float64

Nadal R.    0.866667
Name: Hard, dtype: float64

## Other Useful stuff

### DataFrame Joins

#### Many-to-One join
Consider the following two DataFrames.

In [107]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 
                    'data1': range(7)})

df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 
                    'data2': range(3)})

print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   d      2

The data in df1 has multiple rows labeled a and b, whereas df2 has only one row for each value in the key column. 

The operation 

```
pd.merge(df1, df2, on='key')
```

will produce a merged DataFrame with key the column to join on.

In [108]:
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

Notice that 
- data2 of df2 is replicated everywhere key 'a' and 'b' occur in df1
- rows with key 'c' in df1 and 'd' in df2 are not present in df

The latter behavior is called **inner** join: the keys in the result are the intersection, or the common set found in both tables.

Other possible approaches are: 
- **left**: keys of left DataFrame are kept
- **right**: keys of right DataFrame are kept
- **outer**: keys of both DataFrames are kept

and can be chosen by setting parameter *how*

#### left

In [109]:
pd.merge(df1, df2, on='key', how='left')

  key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0

#### right

In [110]:
pd.merge(df1, df2, on='key', how='right')

  key  data1  data2
0   a    2.0      0
1   a    4.0      0
2   a    5.0      0
3   b    0.0      1
4   b    1.0      1
5   b    6.0      1
6   d    NaN      2

#### outer

In [111]:
pd.merge(df1, df2, on='key', how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

#### Many-to-Many join
Many-to-many merges happens when the same key has more than one occurrence in both DataFrames.

Many-to-many joins form the Cartesian product of the rows having the same key. 

See the following example:

In [112]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a',  'a', 'b'], 
                    'data1': range(5)})
                    
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                    'data2': range(5)})

print (df1)
print()
print (df2)
print ()

pd.merge(df1, df2, on='key', how='left')

  key  data1
0   b      0
1   b      1
2   a      2
3   a      3
4   b      4

  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   a      2      0
5   a      2      2
6   a      3      0
7   a      3      2
8   b      4      1
9   b      4      3

Note that, since there were three 'b' rows in df1 and two in df2, there are six 'b' rows in the result.

The merge can be performed also respect to more than one variable. To determine which key combinations will appear in the result depending on the choice of merge method, **think of the multiple keys as forming an array of tuples** to be used as a single join key.

# References

 - **Python for Data Analysis**. O'Reilly. Wes McKinney.
   - Section 5.1 (Indexing, Selection, and Filtering)
   - Section 5.2 (Arithmetic and Data Alignment Function Application and Mapping Sorting and Ranking)
   - Section 5.3 (Unique Values, Value Counts, and Membership)
   - Section 10.4 (Pivot Tables)
   - Section 14.5
   - https://github.com/wesm/pydata-book